<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateLiteValueAdapter</key>
	<string>spinPriorFrameManager</string>
	<key>cancelStaticRightDecorator</key>
	<string>displayComprehensiveParameterFilter</string>
	<key>getCriticalBufferFilter</key>
	<string>resumeTypicalIndexGroup</string>
	<key>getProtectedResolverInstance</key>
	<string>retainOldPopupCreator</string>
	<key>keepIgnoredParamAdapter</key>
	<string>skipRobustVisibleTarget</string>
	<key>keepSemanticTextureObserver</key>
	<string>setMissedVarBase</string>
	<key>releaseRapidSubpixelImplement</key>
	<string>startOtherMenuCollection</string>
	<key>searchDenseLeftTarget</key>
	<string>unlockIgnoredRightStack</string>
	<key>setCustomMenuFactory</key>
	<string>getMainBottomGroup</string>
	<key>trainSemanticParameterPool</key>
	<string>setProtectedFlagsHelper</string>
</dict>
</plist>
