<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelLastParameterList</key>
	<string>syncFirstTimelineProtocol</string>
	<key>checkCrudeHistogramHelper</key>
	<string>writeRequiredSkewXOwner</string>
	<key>continueMutableAlphaGroup</key>
	<string>setProtectedChapterCreator</string>
	<key>getImmutableTopStack</key>
	<string>startUniformTailExtension</string>
	<key>keepStandaloneParticleCache</key>
	<string>restoreConcreteFlagsCollection</string>
	<key>parseLargeVarList</key>
	<string>initializeIntuitiveVarExtension</string>
	<key>reflectPermanentMenuDecorator</key>
	<string>continuePrevSizeContainer</string>
	<key>resumeDeclarativeInfoDecorator</key>
	<string>setIntuitiveSkewXFactory</string>
	<key>storeTypicalParamHelper</key>
	<string>setSubsequentStrengthStack</string>
</dict>
</plist>
