<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueLostSizeDelegate</key>
	<string>cancelHierarchicalBufferManager</string>
	<key>decoupleSynchronousIntensityType</key>
	<string>seekBasicTempleOwner</string>
	<key>floatHardVarFilter</key>
	<string>regulateRobustMovementManager</string>
	<key>getNumericalRightCache</key>
	<string>navigateSingleSpriteInstance</string>
	<key>pauseConcreteTitleCollection</key>
	<string>finishLargeSpinePool</string>
	<key>setDifficultViewReference</key>
	<string>holdNewestMaterialGroup</string>
	<key>skipAdvancedNumberTarget</key>
	<string>keepImmutablePointFilter</string>
</dict>
</plist>
