<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegatetolerance</key>
	<string>mediocreRoute</string>
	<key>difficultMatrix</key>
	<string>opaqueIntegration</string>
	<key>fixedElasticity</key>
	<string>draggableeffectstatus</string>
	<key>labelInteraction</key>
	<string>modelBorder</string>
	<key>opaqueSession</key>
	<string>reductionDepth</string>
</dict>
</plist>
