<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constructcomposition</key>
	<string>disabledshadercontrast</string>
	<key>independentReducer</key>
	<string>storageResponse</string>
	<key>shouldCacheInstruction</key>
	<string>oldFormat</string>
</dict>
</plist>
