<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueCustomProjectionHelper</key>
	<string>startAgileVariableType</string>
	<key>drawMissedBottomType</key>
	<string>dismissOpaqueEquivalentManager</string>
	<key>getAdvancedVarExtension</key>
	<string>unscheduleNormalHashManager</string>
	<key>getStandaloneTrianglesList</key>
	<string>pauseUnsortedThresholdPool</string>
	<key>keepStandaloneStatusFilter</key>
	<string>cancelAdvancedShaderObserver</string>
	<key>setCriticalMatrixAdapter</key>
	<string>getBackwardVideoReference</string>
	<key>setDenseValueArray</key>
	<string>getCriticalVectorProtocol</string>
	<key>setPublicSizeCreator</key>
	<string>streamlineResilientTempleStack</string>
	<key>skipEuclideanModelPool</key>
	<string>getUniformMatrixFilter</string>
</dict>
</plist>
