<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerAccessory</key>
	<string>canObserveProvider</string>
	<key>cycleBehavior</key>
	<string>disposeEquipment</string>
	<key>sustainableGift</key>
	<string>newestSplitter</string>
</dict>
</plist>
