<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embraceIterativeRotationAdapter</key>
	<string>cancelSymmetricHeadStack</string>
	<key>lockSignificantVarAdapter</key>
	<string>shearPrevButtonOwner</string>
	<key>quantizerAdvancedPreviewProtocol</key>
	<string>playHyperbolicLogarithmAdapter</string>
	<key>quantizerMissedParamInstance</key>
	<string>cancelSemanticTopTarget</string>
	<key>restartCustomSizeObserver</key>
	<string>touchDeclarativeInterfaceBase</string>
	<key>revisitRequiredTopList</key>
	<string>resumeSpecifySizeOwner</string>
	<key>setDedicatedNumberType</key>
	<string>resumePublicSpotBase</string>
	<key>skipSubsequentParticleObserver</key>
	<string>syncRelationalVectorManager</string>
</dict>
</plist>
