<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelEphemeralStepHandler</key>
	<string>escalateEasyZonePool</string>
	<key>extendLocalRectObserver</key>
	<string>dismissPublicTempleCreator</string>
	<key>pauseDisplayableSkewYArray</key>
	<string>stopUniqueQueueFactory</string>
	<key>pushPermanentOpacityGroup</key>
	<string>resumeDirectlyToolArray</string>
	<key>resizeRelationalRemainderInstance</key>
	<string>finishRequiredSkirtType</string>
	<key>setEphemeralZoneReference</key>
	<string>preparePermissiveIndexPool</string>
	<key>startNormalVarDelegate</key>
	<string>setImmutableLoopReference</string>
	<key>startSingleTweakDecorator</key>
	<string>renameCommonPointHandler</string>
</dict>
</plist>
