<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawcolumn</key>
	<string>endlocalization</string>
	<key>grainagainstdecorator</key>
	<string>alignmentOperation</string>
	<key>inactiveLogarithm</key>
	<string>visibleArchitecture</string>
	<key>iscontroller</key>
	<string>saveBullet</string>
	<key>mediaqueryBorder</key>
	<string>resultmomentum</string>
	<key>respectiveTraversal</key>
	<string>scalabilitySpeed</string>
	<key>selectedequipment</key>
	<string>regulateAction</string>
	<key>shouldInflateContainer</key>
	<string>utilVisitor</string>
	<key>shouldMountMaterial</key>
	<string>desktopOverlay</string>
	<key>shouldProcessSegment</key>
	<string>concreteVertex</string>
</dict>
</plist>
