<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeEvolution</key>
	<string>similarDependency</string>
	<key>custompaintDepth</key>
	<string>canContinueHero</string>
	<key>explicitloopcenter</key>
	<string>durationStructure</string>
	<key>lazyPresenter</key>
	<string>detachSubpixel</string>
	<key>respondpainter</key>
	<string>constraintInset</string>
	<key>shouldKeepDimension</key>
	<string>behaviorBorder</string>
	<key>similarRole</key>
	<string>enumerateCoordinator</string>
</dict>
</plist>
