<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerEquivalent</key>
	<string>localBaseline</string>
	<key>numericalRecursion</key>
	<string>scrollerFlags</string>
	<key>reactiveResult</key>
	<string>shouldDisposePlayback</string>
	<key>rectangleBound</key>
	<string>imperativeLoader</string>
	<key>shouldKeepPromise</key>
	<string>canMountedStoryboard</string>
	<key>statefulasproxy</key>
	<string>baselinesound</string>
	<key>triggertype</key>
	<string>shouldBuildOption</string>
</dict>
</plist>
