<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getOpaqueBorderReference</key>
	<string>setMediocreConstantStack</string>
	<key>getUnsortedDetailGroup</key>
	<string>getStaticBufferList</string>
	<key>initializeLargeTitleDelegate</key>
	<string>getPrevRightDecorator</string>
	<key>initializeRobustLoopHelper</key>
	<string>decoupleAccordionParameterGroup</string>
	<key>quitKeyAssetExtension</key>
	<string>lockCurrentIndicatorContainer</string>
	<key>resizeDedicatedNameStack</key>
	<string>endPrimaryCharacteristicType</string>
	<key>restartAdvancedTempleProtocol</key>
	<string>cancelSimilarTempleDecorator</string>
	<key>setMainTempleManager</key>
	<string>restartCrudeFragmentExtension</string>
	<key>setSustainableTechniqueExtension</key>
	<string>getNormalVariableInstance</string>
	<key>skipGranularScalabilityFilter</key>
	<string>skipSingleGemManager</string>
</dict>
</plist>
