<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continuePublicNodeOwner</key>
	<string>setAdvancedGridFactory</string>
	<key>discoverStaticTextureStack</key>
	<string>createPivotalFlagsFilter</string>
	<key>floatRequiredProgressBarTarget</key>
	<string>lockPermanentMapExtension</string>
	<key>getLiteCoordReference</key>
	<string>getSortedTempleHandler</string>
	<key>getReusableAssetHelper</key>
	<string>providePrimaryMediaImplement</string>
	<key>rotateDirectTagDecorator</key>
	<string>getCommonQuaternionHelper</string>
	<key>setMediumAssetDecorator</key>
	<string>getRequiredBufferFilter</string>
	<key>setRapidAllocatorFilter</key>
	<string>skipDisparateGrainObserver</string>
	<key>skipMainRotationTarget</key>
	<string>introspectAccordionTopOwner</string>
	<key>visitMultiOperationExtension</key>
	<string>releaseExplicitTopicDelegate</string>
</dict>
</plist>
