<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>encapsulatepopup</key>
	<string>viewlevelborder</string>
	<key>iterativeMesh</key>
	<string>formatSwift</string>
	<key>materialOffset</key>
	<string>streamprovider</string>
	<key>nextEquipment</key>
	<string>bundleIsolate</string>
	<key>normaldropdownbutton</key>
	<string>eagerEvaluation</string>
	<key>pivotalemitter</key>
	<string>shouldEncodeComposition</string>
	<key>primaryTextField</key>
	<string>showMember</string>
	<key>sessionmodule</key>
	<string>awaitVariable</string>
	<key>transitionsingletonsize</key>
	<string>utilJob</string>
	<key>typicalResolver</key>
	<string>shouldKeepMargin</string>
</dict>
</plist>
