<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticCustomPaint</key>
	<string>directlyPlate</string>
	<key>criticalTriangles</key>
	<string>autoHeap</string>
	<key>dropdownbuttonFeedback</key>
	<string>inheritedfeature</string>
	<key>granularPublisher</key>
	<string>mapperSaturation</string>
	<key>listenerphasebrightness</key>
	<string>deferredStorage</string>
	<key>responsiveSession</key>
	<string>directlyMenu</string>
</dict>
</plist>
