<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDiscardedBitrateGroup</key>
	<string>differentiateUniqueStyleList</string>
	<key>setDirectlySkinCollection</key>
	<string>setSeamlessLayoutCache</string>
	<key>skipLargeVolumeManager</key>
	<string>readOriginalMeshFilter</string>
</dict>
</plist>
