<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateMutablePrecisionHandler</key>
	<string>escalateSingleIntensityManager</string>
	<key>clearDedicatedNavigationArray</key>
	<string>initializeStandaloneBorderPool</string>
	<key>getDirectNodeDelegate</key>
	<string>prepareLocalUnaryCreator</string>
	<key>pauseRespectiveColorExtension</key>
	<string>pauseUniformUtilCollection</string>
	<key>stopKeyResultProtocol</key>
	<string>finishCriticalSizeExtension</string>
</dict>
</plist>
