<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateSmallTextureCache</key>
	<string>skipUnactivatedBorderDelegate</string>
	<key>exitOpaqueRowAdapter</key>
	<string>trainLargeAssetAdapter</string>
	<key>finishDifficultOriginAdapter</key>
	<string>getSmartFormatManager</string>
	<key>getConcreteButtonReference</key>
	<string>releaseDiversifiedSkewYType</string>
	<key>pushBeginnerVideoHelper</key>
	<string>pauseCrudeParamPool</string>
	<key>restartEnabledResultReference</key>
	<string>makeSpecifyVolumeOwner</string>
	<key>scheduleRapidSkewYContainer</key>
	<string>continueSemanticPopupFilter</string>
	<key>setComprehensiveParameterFactory</key>
	<string>poolArithmeticSoundHandler</string>
	<key>setUniformColorBase</key>
	<string>setUniformIntegerProtocol</string>
</dict>
</plist>
