<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustExplicitDescriptionHandler</key>
	<string>endUsedGraphManager</string>
	<key>getConcurrentSymbolOwner</key>
	<string>trainBackwardReliabilityProtocol</string>
	<key>getUniqueCacheCreator</key>
	<string>escalateRapidScreenOwner</string>
	<key>prepareBasicTempleExtension</key>
	<string>getRequiredProfileInstance</string>
	<key>requestPriorEdgeHandler</key>
	<string>trainLargeMultiplicationOwner</string>
	<key>restartSortedSineStack</key>
	<string>readSubtleFlagsCache</string>
	<key>skipSemanticNumberManager</key>
	<string>resumeResilientTempleHelper</string>
	<key>storePermissiveUnaryTarget</key>
	<string>adjustArithmeticParameterInstance</string>
</dict>
</plist>
