<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelImmutableNameHandler</key>
	<string>setHardAllocatorCache</string>
	<key>exitSingleInteractionList</key>
	<string>getUnactivatedIntensityReference</string>
	<key>getDedicatedLeftHelper</key>
	<string>floatIntermediateGiftOwner</string>
	<key>holdIntermediateMediaDelegate</key>
	<string>getAssociatedToleranceTarget</string>
	<key>resumeDeclarativeBufferCollection</key>
	<string>floatNewestVarCache</string>
	<key>resumeRelationalAnalogyDelegate</key>
	<string>cancelAssociatedImpactContainer</string>
</dict>
</plist>
