<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDirectlySkewXTarget</key>
	<string>endSubtleValueObserver</string>
	<key>setCustomCoordType</key>
	<string>continueSingleVectorOwner</string>
	<key>skipOldSpritePool</key>
	<string>cancelEuclideanInfoCache</string>
	<key>undertakeIndependentTempleManager</key>
	<string>skipEphemeralTempleArray</string>
</dict>
</plist>
