<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateSmartEffectFactory</key>
	<string>extendAccordionVarFactory</string>
	<key>enumerateSemanticUtilReference</key>
	<string>finishSubsequentScaleDecorator</string>
	<key>findLastCoordObserver</key>
	<string>getRetainedExponentGroup</string>
	<key>getAssociatedMemberBase</key>
	<string>resumeIterativeEventArray</string>
	<key>getRobustNumberFactory</key>
	<string>embedEnabledProgressBarHandler</string>
	<key>keepNormalResolverAdapter</key>
	<string>transposeRobustNumberCollection</string>
	<key>lockSynchronousBoundCreator</key>
	<string>setLargeLeftDelegate</string>
	<key>quantizerGeometricGroupTarget</key>
	<string>getSophisticatedThroughputFactory</string>
	<key>retrieveUnactivatedBufferType</key>
	<string>getAsynchronousVariableArray</string>
	<key>setGeometricHashCreator</key>
	<string>makePermissiveRightHelper</string>
</dict>
</plist>
