<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getCustomIndexCache</key>
	<string>embraceSignificantTolerancePool</string>
	<key>getOpaqueAllocatorManager</key>
	<string>differentiateDirectPositionCreator</string>
	<key>getSortedImageImplement</key>
	<string>stopRequiredMasterBase</string>
	<key>setMediocreTextureFactory</key>
	<string>setSubtleProgressBarObserver</string>
	<key>setRobustTailCollection</key>
	<string>initializeSpecifyTempleReference</string>
</dict>
</plist>
