<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curvevariableright</key>
	<string>canUnmountMusic</string>
	<key>entropyOffset</key>
	<string>customizedConstraint</string>
	<key>exceptionBottom</key>
	<string>sharedAspectRatio</string>
	<key>informationBehavior</key>
	<string>cartesianBase</string>
	<key>loaderCenter</key>
	<string>equipmentSystem</string>
	<key>progressbartint</key>
	<string>consumerskewx</string>
	<key>temporaryPosition</key>
	<string>discardedtextfield</string>
</dict>
</plist>
