<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableRectangle</key>
	<string>parallelMember</string>
	<key>originalconstraintpadding</key>
	<string>scrollableEvent</string>
	<key>shouldDispatchCard</key>
	<string>shouldUnmountBorder</string>
	<key>shouldSkipProtocol</key>
	<string>durationoffset</string>
</dict>
</plist>
