<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderContrast</key>
	<string>interactiveActivity</string>
	<key>declarativeRouter</key>
	<string>restrictionshade</string>
	<key>difficultternary</key>
	<string>replicatestate</string>
	<key>protectedEmitter</key>
	<string>gridequivalent</string>
	<key>publicskinforce</key>
	<string>crucialAnalyzer</string>
	<key>resizablesymbolright</key>
	<string>normSpeed</string>
	<key>respectiveExpanded</key>
	<string>partitionCompleter</string>
</dict>
</plist>
