<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeconfigurationmomentum</key>
	<string>shouldContinueNorm</string>
	<key>dependencybuffername</key>
	<string>animateGrayscale</string>
	<key>prevStateless</key>
	<string>activityOrientation</string>
	<key>repositorypager</key>
	<string>escalaterequest</string>
	<key>timeVisibility</key>
	<string>regulateTransformer</string>
</dict>
</plist>
