<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeFinder</key>
	<string>canMountedHeap</string>
	<key>defaultAxis</key>
	<string>sizedboxName</string>
	<key>expandedFeedback</key>
	<string>canRestartStack</string>
	<key>lazyMetadata</key>
	<string>timerParam</string>
</dict>
</plist>
