<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cleanProtectedParameterGroup</key>
	<string>keepRobustGemCreator</string>
	<key>getIndependentProgressBarCreator</key>
	<string>getEphemeralParamProtocol</string>
	<key>pausePrismaticRowTarget</key>
	<string>displayMediumBufferPool</string>
	<key>restartTensorFragmentsManager</key>
	<string>createSingleExponentOwner</string>
	<key>setConsultativeTempleCollection</key>
	<string>prepareIgnoredCompositionObserver</string>
	<key>setNewestUtilInstance</key>
	<string>getDifficultUtilBase</string>
	<key>setPivotalBufferTarget</key>
	<string>pauseSubsequentBorderObserver</string>
	<key>skipBeginnerAllocatorHelper</key>
	<string>fillIgnoredIndexType</string>
	<key>skipFusedMomentumCache</key>
	<string>stopLiteRowGroup</string>
</dict>
</plist>
