<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>findAsynchronousCompositionManager</key>
	<string>dropoutHyperbolicNotationHandler</string>
	<key>finishBasicConvolutionManager</key>
	<string>setReusableFrameCache</string>
	<key>finishReusableTrianglesContainer</key>
	<string>removePivotalValueType</string>
	<key>generateHierarchicalSegmentFilter</key>
	<string>quitActivatedPopupPool</string>
	<key>getSimilarOpacityCache</key>
	<string>divideSortedLayerList</string>
	<key>initializeAccessibleHeadFactory</key>
	<string>restartPrismaticStyleDelegate</string>
</dict>
</plist>
