<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaPadding</key>
	<string>shouldDisconnectCustomPaint</string>
	<key>captionforce</key>
	<string>geometricVideo</string>
	<key>mainLifecycle</key>
	<string>sineVisible</string>
	<key>occasionTail</key>
	<string>agileStrength</string>
	<key>parallelScale</key>
	<string>progressbarSpeed</string>
	<key>shouldInflateBehavior</key>
	<string>shouldReplaceLog</string>
	<key>shouldReplaceClipper</key>
	<string>decorationpatternstate</string>
	<key>sophisticatedShape</key>
	<string>fragmentCycle</string>
	<key>spineindex</key>
	<string>maintaincell</string>
	<key>staticCell</key>
	<string>gestureLayer</string>
</dict>
</plist>
