<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystMode</key>
	<string>resizableusecasetint</string>
	<key>localsubpixelscale</key>
	<string>greatTrajectory</string>
	<key>platedistance</key>
	<string>layoutduringvariable</string>
	<key>shouldUnbindTask</key>
	<string>displayableremediation</string>
	<key>switchFlags</key>
	<string>advancedBloc</string>
</dict>
</plist>
