<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appendactivity</key>
	<string>canParseCupertino</string>
	<key>beginnerStream</key>
	<string>popMultiplication</string>
	<key>binarydensity</key>
	<string>maxCosine</string>
	<key>convertdecoration</key>
	<string>shouldDispatchSample</string>
	<key>segmentresponder</key>
	<string>dedicatedItem</string>
	<key>shouldResumeMonster</key>
	<string>tweenFlyweight</string>
	<key>subsequentOccasion</key>
	<string>nibObserver</string>
</dict>
</plist>
