<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationtop</key>
	<string>resourceScale</string>
	<key>isolatespeed</key>
	<string>shouldSetStateSpine</string>
	<key>positionedinteraction</key>
	<string>inflatePreview</string>
	<key>reusableArithmetic</key>
	<string>activePolyfill</string>
	<key>slashBottom</key>
	<string>basicTolerance</string>
	<key>tickerversusframework</key>
	<string>rowVar</string>
</dict>
</plist>
