<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferscopeshade</key>
	<string>gridviewFlyweight</string>
	<key>clipnavigator</key>
	<string>canSubscribeComposition</string>
	<key>disabledScroller</key>
	<string>finderTop</string>
	<key>materialcardoffset</key>
	<string>respectiveoccasion</string>
	<key>smallAperture</key>
	<string>standaloneBuilder</string>
	<key>sophisticatedDisclaimer</key>
	<string>partitionManager</string>
	<key>subscriberskewx</key>
	<string>missedRepository</string>
</dict>
</plist>
