<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedTopic</key>
	<string>accessiblevector</string>
	<key>layerTint</key>
	<string>diversifiednotificationscale</string>
	<key>retainedNib</key>
	<string>shouldTrainSkin</string>
	<key>shouldUnmountAlert</key>
	<string>materialNorm</string>
	<key>specifierTransparency</key>
	<string>euclideanConfiguration</string>
</dict>
</plist>
