<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedTentative</key>
	<string>isModulus</string>
	<key>characteristicTint</key>
	<string>uniformNotifier</string>
	<key>deferrederrorcount</key>
	<string>grayscaleStructure</string>
	<key>diffableDrawer</key>
	<string>entityDepth</string>
	<key>greatlayout</key>
	<string>cursorMemento</string>
	<key>receiverName</key>
	<string>remainderuntilvisitor</string>
	<key>restrictionTheme</key>
	<string>boxStyle</string>
	<key>savereduction</key>
	<string>remediationBottom</string>
	<key>segmentticker</key>
	<string>timeValidation</string>
	<key>skirtposition</key>
	<string>nativeScope</string>
</dict>
</plist>
