<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityOpacity</key>
	<string>iterativeIcon</string>
	<key>capacityBound</key>
	<string>bitrateSpeed</string>
	<key>concreteChooser</key>
	<string>statelessLog</string>
	<key>missionmethod</key>
	<string>attachintensity</string>
	<key>nextservice</key>
	<string>resizableusecase</string>
	<key>pickerinset</key>
	<string>opaquelinker</string>
</dict>
</plist>
