<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedGestureDetector</key>
	<string>onmusicchanged</string>
	<key>handlerBound</key>
	<string>particleCycle</string>
	<key>priorSearcher</key>
	<string>promiseasync</string>
	<key>selectedEffect</key>
	<string>usageCenter</string>
</dict>
</plist>
