<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateGranularTempleOwner</key>
	<string>clearLocalVariableStack</string>
	<key>continueDifficultCycleCache</key>
	<string>getGreatParameterImplement</string>
	<key>resumeDifficultConstantPool</key>
	<string>getLostCharacterImplement</string>
</dict>
</plist>
