<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deliveryState</key>
	<string>visualizeModel</string>
	<key>hyperbolicPet</key>
	<string>replacegroup</string>
	<key>iterativeProvision</key>
	<string>publishSign</string>
	<key>protectedSignature</key>
	<string>cardAction</string>
	<key>sensorresource</key>
	<string>routerTier</string>
</dict>
</plist>
