<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constantState</key>
	<string>respectiveNorm</string>
	<key>freeerror</key>
	<string>fixedDecoration</string>
	<key>keySelector</key>
	<string>shouldlistencustompaint</string>
	<key>rectangleInterval</key>
	<string>dropdownbuttonValidation</string>
	<key>serviceShape</key>
	<string>normalCharacter</string>
	<key>typicalGraphic</key>
	<string>secondTimeline</string>
</dict>
</plist>
