<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicFrame</key>
	<string>shouldNotifyLogarithm</string>
	<key>firstTask</key>
	<string>prevCatalyst</string>
	<key>flexibleBitrate</key>
	<string>imageScope</string>
	<key>newestwidgetshape</key>
	<string>rebuildReduction</string>
	<key>pinchableProgressBar</key>
	<string>inflateSegue</string>
	<key>positionHead</key>
	<string>canTransitionCurve</string>
	<key>setupactivity</key>
	<string>nativeAsset</string>
	<key>signTheme</key>
	<string>mobileBox</string>
	<key>standaloneProgressBar</key>
	<string>cancelPoint</string>
</dict>
</plist>
