<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoObject</key>
	<string>shouldMountedBase</string>
	<key>memberMode</key>
	<string>serviceObserver</string>
	<key>robustCallback</key>
	<string>canPaintAnchor</string>
	<key>schemapadding</key>
	<string>materialPlayback</string>
	<key>seamlessTouch</key>
	<string>completedEffect</string>
	<key>touchskewx</key>
	<string>maxRemainder</string>
	<key>transitionresponse</key>
	<string>globalresilience</string>
</dict>
</plist>
