<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseStatus</key>
	<string>channelsType</string>
	<key>callbackDelay</key>
	<string>intermediateTimeline</string>
	<key>formatDistance</key>
	<string>polygonpadding</string>
	<key>gateTransparency</key>
	<string>shouldConnectScreen</string>
	<key>radiusShade</key>
	<string>impressionShade</string>
	<key>shouldDisposeInteger</key>
	<string>flexOrigin</string>
	<key>shouldSetStateConsumer</key>
	<string>deserializeconstraint</string>
	<key>skinshade</key>
	<string>projectionStructure</string>
	<key>startlabel</key>
	<string>imperativeRenderer</string>
	<key>unmountevent</key>
	<string>contractionOrientation</string>
</dict>
</plist>
