<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueComprehensiveSpineProtocol</key>
	<string>clipRobustResolverCache</string>
	<key>continueConsultativeAspectFilter</key>
	<string>getCommonSchemaHelper</string>
	<key>initializeKeyVariableDecorator</key>
	<string>renameResilientPolyfillPool</string>
	<key>setDirectPopupPool</key>
	<string>extendMissedValueProtocol</string>
	<key>setUniformVariableOwner</key>
	<string>setEuclideanVarReference</string>
</dict>
</plist>
