<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishEuclideanSkewXExtension</key>
	<string>stopLostTempleContainer</string>
	<key>getPivotalUtilTarget</key>
	<string>getSingleParamExtension</string>
	<key>readGranularNumberGroup</key>
	<string>restartAdvancedRotationOwner</string>
	<key>setProtectedEvolutionTarget</key>
	<string>clipUnsortedOptimizerCollection</string>
</dict>
</plist>
