<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getTypicalFeatureArray</key>
	<string>searchCommonValueTarget</string>
	<key>keepDisparateContrastReference</key>
	<string>restartPermanentKernelObserver</string>
	<key>keepMainRouteContainer</key>
	<string>stopUniformCompositionExtension</string>
	<key>setMultiTraversalHandler</key>
	<string>setPivotalBorderOwner</string>
</dict>
</plist>
