<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endLastPreviewImplement</key>
	<string>cancelProtectedParameterCollection</string>
	<key>getEuclideanHashCache</key>
	<string>findAssociatedLatencyCache</string>
	<key>keepIntermediateDescriptionStack</key>
	<string>findLocalParamProtocol</string>
	<key>restartSynchronousKernelStack</key>
	<string>getMediumPriorityList</string>
	<key>setStandaloneBufferOwner</key>
	<string>renameSubsequentReliabilityObserver</string>
</dict>
</plist>
