<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelRetainedVolumeList</key>
	<string>getPivotalScaleType</string>
	<key>conformSpecifyBoundArray</key>
	<string>setMissedChapterHelper</string>
	<key>fillCurrentDescriptionArray</key>
	<string>updateIntermediateVariantDelegate</string>
	<key>findSharedParamAdapter</key>
	<string>getDenseDispatcherInstance</string>
	<key>getStaticChallengeDelegate</key>
	<string>reduceIgnoredNameContainer</string>
	<key>getStaticNumberType</key>
	<string>destroyMissedGemImplement</string>
	<key>spinArithmeticParameterFilter</key>
	<string>initializeDifficultFrameInstance</string>
	<key>stopDedicatedElasticityHandler</key>
	<string>visitTensorContractionCreator</string>
</dict>
</plist>
