<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateMultiBottomContainer</key>
	<string>setLargePrecisionDelegate</string>
	<key>navigateSecondVectorManager</key>
	<string>setSophisticatedInterfaceAdapter</string>
	<key>resumeAgileVarCache</key>
	<string>extendDisparateTailHandler</string>
	<key>resumeHierarchicalTextureArray</key>
	<string>adjustReusableGridReference</string>
	<key>skipAgileLabelBase</key>
	<string>cancelResilientVariableInstance</string>
	<key>startDedicatedOriginHelper</key>
	<string>renameOpaqueIndicatorObserver</string>
	<key>stopPermissiveLeftFactory</key>
	<string>setKeyIntensityReference</string>
	<key>syncSubsequentVariableHandler</key>
	<string>extendDiscardedItemStack</string>
</dict>
</plist>
