<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cachelayer</key>
	<string>debugUtil</string>
	<key>contractionDirection</key>
	<string>inflateException</string>
	<key>functionalAnalyzer</key>
	<string>vectorizeIntensity</string>
	<key>largeProjection</key>
	<string>canMountIcon</string>
	<key>significantMission</key>
	<string>sliderMargin</string>
	<key>statelessMargin</key>
	<string>easyDelivery</string>
</dict>
</plist>
