<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteRecursion</key>
	<string>descriptorAdapter</string>
	<key>disparateCard</key>
	<string>liteTweak</string>
	<key>eagerBorder</key>
	<string>addscaffold</string>
	<key>granularFragments</key>
	<string>associatedNavigator</string>
	<key>monsterrange</key>
	<string>skipPositioned</string>
	<key>shouldUnmountedChecklist</key>
	<string>currentInterpolation</string>
	<key>sinkSkewY</key>
	<string>particleSpacing</string>
	<key>uniqueGrayscale</key>
	<string>equivalentOrientation</string>
</dict>
</plist>
