<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelAssociatedParameterList</key>
	<string>offsetBasicModuleHelper</string>
	<key>destroyLocalImpressionArray</key>
	<string>initializeArithmeticCoordObserver</string>
	<key>embedCrudeVariableFactory</key>
	<string>setUsedEfficiencyGroup</string>
	<key>finishArithmeticValueGroup</key>
	<string>decoupleIntermediateTempleBase</string>
	<key>getMissedMaterialObserver</key>
	<string>getSemanticContractionReference</string>
	<key>getRetainedAssetFactory</key>
	<string>continueActivatedViewContainer</string>
	<key>resumeOtherZoneDecorator</key>
	<string>setDirectMetricsOwner</string>
	<key>setPriorBufferFilter</key>
	<string>equalRequiredGrainDelegate</string>
	<key>skipUniformValueFactory</key>
	<string>captureDisplayableMetadataDecorator</string>
</dict>
</plist>
