<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getSignificantBufferBase</key>
	<string>searchReusableAllocatorArray</string>
	<key>getSmallBufferObserver</key>
	<string>freeSymmetricVisibleHandler</string>
	<key>resizeIntermediateRotationFactory</key>
	<string>getIterativeScaleAdapter</string>
	<key>restartSymmetricImpactBase</key>
	<string>getSecondCharacteristicList</string>
	<key>setHierarchicalPermutationGroup</key>
	<string>detachCartesianParticleFactory</string>
	<key>setIntuitiveProvisionContainer</key>
	<string>searchConcreteStyleDecorator</string>
</dict>
</plist>
