<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateSustainableDisclaimerCache</key>
	<string>setCrudeDataDecorator</string>
	<key>endHyperbolicTweakCache</key>
	<string>restartNewestSceneGroup</string>
	<key>refreshDisparateAssetAdapter</key>
	<string>reduceLargeSkewYReference</string>
	<key>requestProtectedTextureGroup</key>
	<string>removePrimaryVarDelegate</string>
	<key>resizeUnactivatedWorkflowContainer</key>
	<string>adjustIgnoredBottomList</string>
	<key>searchPrismaticOriginList</key>
	<string>discoverDiversifiedMendReference</string>
	<key>setOriginalTopBase</key>
	<string>startBackwardPaddingReference</string>
	<key>stopCriticalLeftPool</key>
	<string>finishBackwardScaleOwner</string>
</dict>
</plist>
