<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateSingleMobileCreator</key>
	<string>getNumericalNodeStack</string>
	<key>getBackwardMissionCollection</key>
	<string>getTensorVariableFilter</string>
	<key>reduceOriginalEvolutionReference</key>
	<string>getAutoOptionReference</string>
	<key>setNextNameImplement</key>
	<string>prepareHyperbolicTimeAdapter</string>
	<key>setSpecifyTailPool</key>
	<string>getPrevParticleImplement</string>
	<key>skipEphemeralFrameObserver</key>
	<string>syncCriticalBoundList</string>
</dict>
</plist>
