<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregateIndependentMeshContainer</key>
	<string>equalPriorUsageManager</string>
	<key>clearSharedIntegerFilter</key>
	<string>pauseEuclideanOperationHandler</string>
	<key>continueLastSizeGroup</key>
	<string>mitigateIntuitiveParamType</string>
	<key>getNumericalRightObserver</key>
	<string>skipMediumTagStack</string>
	<key>getStaticSegmentCreator</key>
	<string>finishRespectiveStateGroup</string>
	<key>quantizerRespectiveContrastCreator</key>
	<string>getIterativeGrainDelegate</string>
	<key>retrieveOpaqueCapacityFilter</key>
	<string>getDisparateCapsuleProtocol</string>
	<key>skipDedicatedCacheGroup</key>
	<string>setExplicitTagExtension</string>
	<key>startDenseLeftArray</key>
	<string>captureSignificantBufferBase</string>
	<key>storePriorBitrateHelper</key>
	<string>augmentUniformOriginTarget</string>
</dict>
</plist>
