<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelCriticalButtonContainer</key>
	<string>keepFusedBufferHandler</string>
	<key>endTypicalMendExtension</key>
	<string>keepLocalNumberAdapter</string>
	<key>escalateCrudeElasticityManager</key>
	<string>startAccessibleTempleAdapter</string>
	<key>getDiscardedDimensionDecorator</key>
	<string>getSubsequentDistinctionObserver</string>
	<key>rectifyIterativeZoneContainer</key>
	<string>navigateEasyConfidentialityPool</string>
	<key>restartPermissiveVarContainer</key>
	<string>finishRetainedSkewYProtocol</string>
</dict>
</plist>
