<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueEuclideanDimensionPool</key>
	<string>unlockIndependentValueManager</string>
	<key>reflectPrimaryConvolutionDelegate</key>
	<string>getExplicitMapCache</string>
	<key>skipSeamlessToleranceFilter</key>
	<string>freeStandaloneRendererManager</string>
	<key>skipSymmetricElementFilter</key>
	<string>endUnsortedHistogramImplement</string>
	<key>stopImmutableBottomInstance</key>
	<string>setLastSpriteObserver</string>
	<key>undertakeUnsortedOpacityReference</key>
	<string>setCartesianFrameTarget</string>
	<key>updateRapidDataArray</key>
	<string>aggregateDeclarativeVisibleFactory</string>
</dict>
</plist>
