<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lostAspectRatio</key>
	<string>subscribeEqualization</string>
	<key>numericalSink</key>
	<string>permissiveFuture</string>
	<key>permissiveDimension</key>
	<string>cartesianSpecifier</string>
	<key>shouldRebuildCatalyst</key>
	<string>criticallocalization</string>
	<key>visibleData</key>
	<string>synchronousEquipment</string>
</dict>
</plist>
