<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseawaycommand</key>
	<string>rectForce</string>
	<key>copycatalyst</key>
	<string>semanticProject</string>
	<key>decorationtail</key>
	<string>retainedlistviewskewx</string>
	<key>desktopSpot</key>
	<string>timeDensity</string>
	<key>numericalInterpolation</key>
	<string>componentSpeed</string>
	<key>synchronousmanagerformat</key>
	<string>canSetStateOperation</string>
	<key>tweensize</key>
	<string>staticProject</string>
</dict>
</plist>
