<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionInfrastructure</key>
	<string>unsortedCombiner</string>
	<key>behaviorOrigin</key>
	<string>directlyReduction</string>
	<key>composableThroughput</key>
	<string>shouldStartCheckbox</string>
	<key>frameDepth</key>
	<string>savestateless</string>
	<key>gridviewEdge</key>
	<string>graphicedge</string>
	<key>impressionRight</key>
	<string>shoulddismissmatrix</string>
	<key>instructionresource</key>
	<string>sophisticatedVolume</string>
	<key>numericalframe</key>
	<string>cycleFunction</string>
	<key>pinchableChecklist</key>
	<string>attachUtil</string>
</dict>
</plist>
