<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveThroughput</key>
	<string>slidertheme</string>
	<key>shouldStreamCell</key>
	<string>parallelInformation</string>
	<key>shouldloadscroll</key>
	<string>intensityVar</string>
	<key>uniqueobservertransparency</key>
	<string>alertStructure</string>
	<key>usedChapter</key>
	<string>factoryLocation</string>
</dict>
</plist>
