<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascentposition</key>
	<string>shouldPushComposition</string>
	<key>capsulevalidation</key>
	<string>pivotalMovement</string>
	<key>curvedistance</key>
	<string>memberinsidetemple</string>
	<key>resultbinder</key>
	<string>routeprotocol</string>
	<key>shouldBindWorkflow</key>
	<string>canYieldInterpolation</string>
	<key>shouldSerializeStack</key>
	<string>elasticCharacter</string>
	<key>similarDetector</key>
	<string>radiusTop</string>
	<key>switchexceptfunction</key>
	<string>desktopconfigurationbehavior</string>
	<key>unsortedModal</key>
	<string>parsevector</string>
</dict>
</plist>
