<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicInfrastructure</key>
	<string>componentformat</string>
	<key>concurrentstateskewy</key>
	<string>similarInkWell</string>
	<key>diversifieddescription</key>
	<string>synchronousNorm</string>
	<key>executestream</key>
	<string>canSerializeCheckbox</string>
	<key>instructionintensity</key>
	<string>rectifyChart</string>
	<key>shouldPersistOverlay</key>
	<string>custommapleft</string>
	<key>shouldUnbindLayout</key>
	<string>currentNotifier</string>
	<key>visibleStore</key>
	<string>robustCallback</string>
</dict>
</plist>
