<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetofvalue</key>
	<string>lastText</string>
	<key>defaultTabView</key>
	<string>diffableComponent</string>
	<key>denseException</key>
	<string>canPublishLog</string>
	<key>elasticlabelcount</key>
	<string>hashChain</string>
	<key>inheritedStamp</key>
	<string>quantizerInterface</string>
	<key>shouldResumeMission</key>
	<string>notifygrid</string>
	<key>slashCount</key>
	<string>canDetachGate</string>
	<key>statelessParticle</key>
	<string>priorBrush</string>
	<key>unsortedCreator</key>
	<string>adaptiveconfigurationname</string>
	<key>usedTabBar</key>
	<string>cardAlignment</string>
</dict>
</plist>
