<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsValidation</key>
	<string>shouldDecodeDuration</string>
	<key>consultativesine</key>
	<string>constraintoutsidepattern</string>
	<key>ephemeralNavigator</key>
	<string>futurevalueacceleration</string>
	<key>greatHandler</key>
	<string>retainedAspect</string>
	<key>infrastructureBrightness</key>
	<string>factoryexceptnumber</string>
	<key>listviewBound</key>
	<string>shouldDisposeCache</string>
	<key>shouldContinueEquipment</key>
	<string>easyStamp</string>
	<key>shouldSubscribeCustomPaint</key>
	<string>histogramShade</string>
	<key>smartResilience</key>
	<string>shouldUnbindKernel</string>
	<key>visibleLoop</key>
	<string>imageCommand</string>
</dict>
</plist>
