<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createloop</key>
	<string>cycleSaturation</string>
	<key>decorationCount</key>
	<string>layoutSingleton</string>
	<key>directMend</key>
	<string>standaloneRouter</string>
	<key>disabledExpanded</key>
	<string>exceptionaroundsingleton</string>
	<key>liteelement</key>
	<string>diffableMethod</string>
	<key>publicSchema</key>
	<string>tweenAlignment</string>
	<key>requestName</key>
	<string>rectifyTexture</string>
	<key>sustainablesessionright</key>
	<string>statelessTween</string>
</dict>
</plist>
