<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveNorm</key>
	<string>shouldFormatPlayback</string>
	<key>geometricGridView</key>
	<string>directlyInstruction</string>
	<key>inheritedPrecision</key>
	<string>taskresponse</string>
	<key>navigatecheckbox</key>
	<string>observersaturation</string>
	<key>requestmethoddirection</key>
	<string>shouldparseaspectratio</string>
	<key>sinkMode</key>
	<string>eventShade</string>
	<key>taskshape</key>
	<string>shouldInflateOperation</string>
</dict>
</plist>
