<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>embedActivatedRowCreator</key>
	<string>getAccessibleConstantReference</string>
	<key>endPrevMenuInstance</key>
	<string>resumeTensorSlashInstance</string>
	<key>initializeUniformSkewXProtocol</key>
	<string>encapsulateMutableImageReference</string>
</dict>
</plist>
