<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialnavigationalignment</key>
	<string>specifydata</string>
	<key>customAmortization</key>
	<string>previewSystem</string>
	<key>diffableRange</key>
	<string>shouldDismissNotifier</string>
	<key>greatQuaternion</key>
	<string>deferredClipper</string>
	<key>normalMenu</key>
	<string>canListenSlider</string>
	<key>originalTechnique</key>
	<string>resolverVariable</string>
	<key>pivotalFormat</key>
	<string>attachloop</string>
	<key>shouldFormatTextField</key>
	<string>characterLocation</string>
	<key>smartShape</key>
	<string>actionNumber</string>
	<key>statefulTime</key>
	<string>encodeModal</string>
</dict>
</plist>
