<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedBaseline</key>
	<string>liteSegue</string>
	<key>dedicatedevaluation</key>
	<string>shouldBuildDelegate</string>
	<key>memberStyle</key>
	<string>visibleEquivalent</string>
	<key>paddingvisitorappearance</key>
	<string>modalLocation</string>
	<key>publicGraph</key>
	<string>checkResponse</string>
	<key>scalabilitySkewY</key>
	<string>cupertinoTaxonomy</string>
	<key>shouldpaintcapsule</key>
	<string>navigateactivity</string>
</dict>
</plist>
