<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>annotatesample</key>
	<string>screenactivityvalidation</string>
	<key>euclideanScheduler</key>
	<string>responderPressure</string>
	<key>responselayerborder</key>
	<string>canLoadComposition</string>
	<key>sequentialScaffold</key>
	<string>makeReducer</string>
	<key>statefulDescription</key>
	<string>encapsulateSink</string>
	<key>statelessPolygon</key>
	<string>buttonquaternion</string>
	<key>swiftColor</key>
	<string>detailTop</string>
	<key>tensorDecoration</key>
	<string>referenceType</string>
</dict>
</plist>
