<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableinstructionname</key>
	<string>routerplatformstyle</string>
	<key>directlyNavigation</key>
	<string>materialUtil</string>
	<key>kernelFlags</key>
	<string>sampleActivity</string>
</dict>
</plist>
