<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acceleratePublicMenuDelegate</key>
	<string>setMultiNumberManager</string>
	<key>calculateHierarchicalResultOwner</key>
	<string>freeUnsortedBufferBase</string>
	<key>dropoutAdvancedFlagsFactory</key>
	<string>navigateAccordionTempleManager</string>
	<key>finishRapidGroupTarget</key>
	<string>getCrudeLoopHandler</string>
	<key>getAccessibleListenerFilter</key>
	<string>stopMultiTechniqueReference</string>
	<key>getEphemeralHeadOwner</key>
	<string>finishSubstantialHistogramFilter</string>
	<key>getGeometricContractionFactory</key>
	<string>detachFirstThresholdStack</string>
	<key>reflectActivatedParameterCache</key>
	<string>prepareSingleCycleTarget</string>
	<key>setMediumMaterialObserver</key>
	<string>startDiscardedNumberExtension</string>
</dict>
</plist>
