<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelMainTopicFactory</key>
	<string>startDirectlyTextureType</string>
	<key>endUniqueVarBase</key>
	<string>embedCartesianControllerCreator</string>
	<key>getCommonFragmentCache</key>
	<string>insteadSubtleMetadataType</string>
	<key>getCustomChartInstance</key>
	<string>floatTensorCenterType</string>
	<key>getSophisticatedResourceProtocol</key>
	<string>keepBeginnerHeroContainer</string>
	<key>pauseLostActivityManager</key>
	<string>offsetSymmetricGrayscaleBase</string>
</dict>
</plist>
