<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clearDirectlyPositionContainer</key>
	<string>getHyperbolicSchedulerPool</string>
	<key>cloneSubstantialDataProtocol</key>
	<string>freeReusableMetadataCollection</string>
	<key>getConsultativeNodeContainer</key>
	<string>keepFusedMomentumList</string>
	<key>getMissedFrameList</key>
	<string>enumerateKeyMapFilter</string>
	<key>lockSortedSpineManager</key>
	<string>associateTypicalVariableFactory</string>
	<key>quantizationProtectedRowHelper</key>
	<string>combineResilientBottomHandler</string>
	<key>refreshLargeDescriptionArray</key>
	<string>exitCartesianVolumeHelper</string>
	<key>setPrevPolyfillHandler</key>
	<string>encapsulateBackwardNodeAdapter</string>
	<key>setSpecifyParamHelper</key>
	<string>visitDirectInitiatorsTarget</string>
	<key>trainAdvancedAnimationObserver</key>
	<string>finishSecondTernaryTarget</string>
</dict>
</plist>
