<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelBeginnerTextObserver</key>
	<string>restartPermanentVideoContainer</string>
	<key>getAccessibleValueCache</key>
	<string>getSophisticatedProgressBarAdapter</string>
	<key>getBeginnerMultiplicationPool</key>
	<string>restartMediumCurveCache</string>
	<key>getOpaqueStepHelper</key>
	<string>skipOpaquePrecisionObserver</string>
	<key>resumeElasticWorkflowBase</key>
	<string>trainKeyImageReference</string>
	<key>transposePriorBorderStack</key>
	<string>getDirectPreviewExtension</string>
	<key>undertakeCrucialParamHandler</key>
	<string>compareReusableSchedulerInstance</string>
</dict>
</plist>
