<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enumerateCommonBottomHelper</key>
	<string>skipIgnoredScaleType</string>
	<key>extendStaticVisibleHandler</key>
	<string>continueResilientParamArray</string>
	<key>finishFirstVolumeExtension</key>
	<string>stopAdvancedRotationManager</string>
	<key>getPrismaticRotationCreator</key>
	<string>getAssociatedValuePool</string>
	<key>getRobustTempleHelper</key>
	<string>initializeCartesianBoxList</string>
	<key>keepRobustControllerDelegate</key>
	<string>pauseOldParameterCache</string>
	<key>prepareSmallTempleObserver</key>
	<string>appendIgnoredPreviewArray</string>
	<key>respondCrudeCycleDelegate</key>
	<string>stopEphemeralIntegerCollection</string>
	<key>respondHardIntensityList</key>
	<string>setLocalRendererList</string>
	<key>restartExplicitGrayscaleCache</key>
	<string>restoreBasicSkewXObserver</string>
</dict>
</plist>
