<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endPrismaticLabelAdapter</key>
	<string>searchIndependentLayoutHandler</string>
	<key>floatCustomizedMenuPool</key>
	<string>keepSecondVariableGroup</string>
	<key>getBeginnerParameterType</key>
	<string>continueOldLoaderContainer</string>
	<key>initializeOldValueFactory</key>
	<string>keepOpaqueBufferPool</string>
	<key>initializeSmallImpressionProtocol</key>
	<string>setUnsortedBoxType</string>
	<key>setAsynchronousReplicaType</key>
	<string>initializeGlobalSoundStack</string>
	<key>setUnsortedLogarithmGroup</key>
	<string>scheduleBackwardListenerInstance</string>
	<key>startLocalRemediationAdapter</key>
	<string>setAccessibleParamDecorator</string>
	<key>stopSymmetricSpriteAdapter</key>
	<string>startStaticGraphGroup</string>
</dict>
</plist>
