<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>findDisplayableOperationFilter</key>
	<string>skipDiscardedInterfaceImplement</string>
	<key>getBasicDataFilter</key>
	<string>trainMissedQueueProtocol</string>
	<key>prepareOldStepAdapter</key>
	<string>reflectGranularEdgeCollection</string>
</dict>
</plist>
