<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareAutoVarProtocol</key>
	<string>prepareMediumMasterDelegate</string>
	<key>computeCartesianBottomManager</key>
	<string>restartPermanentImpactPool</string>
	<key>initializePriorNumberFilter</key>
	<string>finishSecondEvaluationHandler</string>
	<key>prepareLocalEdgeArray</key>
	<string>continueElasticReplicaArray</string>
	<key>removeDenseVectorPool</key>
	<string>cancelMutableCoordStack</string>
	<key>setAccordionTempleExtension</key>
	<string>setSymmetricTempleReference</string>
	<key>setStandaloneParamDecorator</key>
	<string>skipSophisticatedValueArray</string>
</dict>
</plist>
