<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseRemediation</key>
	<string>concurrentCursor</string>
	<key>musicvaluespacing</key>
	<string>selectedinkwell</string>
	<key>plateStatus</key>
	<string>routeRight</string>
	<key>shouldPersistConstraint</key>
	<string>diffableView</string>
	<key>shouldRebuildNib</key>
	<string>shouldBindMedia</string>
	<key>spotdecoratorhead</key>
	<string>volumeAlignment</string>
	<key>statefulOrigin</key>
	<string>techniqueEdge</string>
	<key>unactivatedcontroller</key>
	<string>loopoutsideinterpreter</string>
	<key>uniqueHash</key>
	<string>prismaticIcon</string>
</dict>
</plist>
