<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultmatrix</key>
	<string>statelessReduction</string>
	<key>freecapacities</key>
	<string>activatedPadding</string>
	<key>shouldEncodeOperation</key>
	<string>canResumeSkin</string>
	<key>slashoperationhead</key>
	<string>retainedfactory</string>
	<key>spriteDirection</key>
	<string>shearNavigator</string>
	<key>staticVector</key>
	<string>createmodulus</string>
	<key>widgetevolution</key>
	<string>showChart</string>
</dict>
</plist>
