<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectfordecorator</key>
	<string>mechanismDelay</string>
	<key>batchinterval</key>
	<string>ignoredmonsteroffset</string>
	<key>bloccount</key>
	<string>eagerrole</string>
	<key>inheritedmaterialpressure</key>
	<string>grainSingleton</string>
	<key>nextStack</key>
	<string>imperativeComponent</string>
	<key>pinchableBoxShadow</key>
	<string>opaqueRepository</string>
	<key>sampleKind</key>
	<string>shouldShowObserver</string>
	<key>shouldHandleRole</key>
	<string>shouldPrepareGraphic</string>
	<key>shouldInflateGate</key>
	<string>tangentResponse</string>
	<key>shouldProcessDocument</key>
	<string>resilientProvision</string>
</dict>
</plist>
