<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imperativeSpot</key>
	<string>shouldYieldMatrix</string>
	<key>inkwellBottom</key>
	<string>axisOperation</string>
	<key>sampleScale</key>
	<string>emitGraph</string>
	<key>shouldAnimateFuture</key>
	<string>clipUseCase</string>
	<key>shouldRouteMediaQuery</key>
	<string>temporaryElasticity</string>
	<key>shouldValidateHero</key>
	<string>bufferSingleton</string>
	<key>shouldtransitionanimation</key>
	<string>entitybehavior</string>
	<key>symmetricBinary</key>
	<string>gesturedetectorTail</string>
</dict>
</plist>
