<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionVertex</key>
	<string>unmountedSemantics</string>
	<key>directlySpot</key>
	<string>attachBatch</string>
	<key>eagerMetadata</key>
	<string>futureSpeed</string>
	<key>greatCapacity</key>
	<string>resizableisolate</string>
	<key>mediumConstant</key>
	<string>aggregateDecoration</string>
	<key>prevtaxonomy</key>
	<string>relationalStroke</string>
	<key>shouldstartresource</key>
	<string>integerSingleton</string>
	<key>sliderfinder</key>
	<string>operationDensity</string>
	<key>storeContrast</key>
	<string>rapidframeforce</string>
</dict>
</plist>
