<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildpresenter</key>
	<string>arithmeticAnimation</string>
	<key>immutableTweak</key>
	<string>cubitkinddirection</string>
	<key>reconcilesink</key>
	<string>listenOptimizer</string>
	<key>responseLocation</key>
	<string>statefulformat</string>
	<key>robustVolume</key>
	<string>dynamicCapsule</string>
	<key>singletonagainstprototype</key>
	<string>encodeSize</string>
	<key>statefulRequest</key>
	<string>loadGestureDetector</string>
</dict>
</plist>
