<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endSynchronousEffectFactory</key>
	<string>embraceMediumNumberReference</string>
	<key>getLastCenterCache</key>
	<string>escalateDirectSpotProtocol</string>
	<key>getSecondUtilArray</key>
	<string>pauseIntermediateContrastList</string>
	<key>optimizeDiversifiedNumberHelper</key>
	<string>keepSharedProvisionCollection</string>
	<key>restartPrismaticBufferGroup</key>
	<string>setIntermediateNumberExtension</string>
	<key>setResilientViewCollection</key>
	<string>animateConcreteInstructionStack</string>
</dict>
</plist>
