<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>combineEphemeralThroughputAdapter</key>
	<string>cancelDisparateTexturePool</string>
	<key>continueOpaqueStyleImplement</key>
	<string>setSynchronousCenterHelper</string>
	<key>detachOriginalDescriptionCache</key>
	<string>setSubtleTopReference</string>
	<key>exitImmutableSignStack</key>
	<string>locateSymmetricAllocatorContainer</string>
	<key>getDisparateStyleArray</key>
	<string>setAdvancedVariableObserver</string>
	<key>obtainRobustGateArray</key>
	<string>setAdvancedVectorContainer</string>
	<key>setBasicFrameFactory</key>
	<string>setSubtleTaxonomyPool</string>
	<key>stopCurrentNumberFactory</key>
	<string>writeStandaloneSizeCache</string>
</dict>
</plist>
