<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueIntuitiveCacheReference</key>
	<string>limitKeyViewList</string>
	<key>continuePrevRangeHandler</key>
	<string>stopBackwardTempleHelper</string>
	<key>displaySemanticSkirtCache</key>
	<string>requestNormalParameterReference</string>
	<key>keepMutableParameterList</key>
	<string>getActivatedGraphAdapter</string>
	<key>restartIgnoredConstantGroup</key>
	<string>storeCrudeParamPool</string>
	<key>revisitCartesianValueReference</key>
	<string>continueOldRightManager</string>
</dict>
</plist>
