<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exitHardLoopAdapter</key>
	<string>adjustEuclideanIndexCache</string>
	<key>getLostScaleProtocol</key>
	<string>searchEuclideanUtilType</string>
	<key>setResilientSizeType</key>
	<string>freeBasicTitleObserver</string>
</dict>
</plist>
