<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloneRapidSymbolList</key>
	<string>endGeometricSessionType</string>
	<key>getMultiBufferFactory</key>
	<string>trainMediumBufferExtension</string>
	<key>pauseArithmeticNodeManager</key>
	<string>keepLiteResultDelegate</string>
	<key>poolHierarchicalVariableList</key>
	<string>getMultiSubpixelFactory</string>
	<key>requestUniqueBottomExtension</key>
	<string>startSignificantTentativeGroup</string>
	<key>resumeSeamlessParamManager</key>
	<string>getElasticGridInstance</string>
	<key>retrieveIndependentNameExtension</key>
	<string>detachAssociatedModulusOwner</string>
	<key>setBeginnerFragmentFilter</key>
	<string>finishImmutableVarDecorator</string>
</dict>
</plist>
