<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelIgnoredVarCollection</key>
	<string>aggregateKeySkinArray</string>
	<key>createStaticIndicatorArray</key>
	<string>resumePermanentDispatcherHelper</string>
	<key>findIntuitiveVarProtocol</key>
	<string>getDisplayableSizeType</string>
	<key>getSophisticatedPositionArray</key>
	<string>setDisplayableIndexArray</string>
	<key>keepTypicalBufferProtocol</key>
	<string>setSmallParamFactory</string>
	<key>resumeSubstantialTemplePool</key>
	<string>stopStaticQueueArray</string>
	<key>setOldBulletReference</key>
	<string>replaceReusableVarFilter</string>
</dict>
</plist>
