<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cleanHyperbolicNodeStack</key>
	<string>quantizationNextTitleOwner</string>
	<key>embedBackwardBaselineTarget</key>
	<string>endAssociatedVariableReference</string>
	<key>finishOpaqueTraversalHandler</key>
	<string>startHardDepthReference</string>
	<key>getIgnoredNumberTarget</key>
	<string>setUnsortedViewExtension</string>
	<key>initializeMediumOperationArray</key>
	<string>resumeSynchronousEquipmentExtension</string>
	<key>insteadSignificantPopupObserver</key>
	<string>animateCartesianBufferProtocol</string>
	<key>quantizerSophisticatedTopDelegate</key>
	<string>continueStaticHeapPool</string>
	<key>revisitAgileFrameStack</key>
	<string>cancelSemanticValueFactory</string>
	<key>setIntuitiveTextCollection</key>
	<string>resumeSemanticInfrastructurePool</string>
	<key>skipBasicBorderList</key>
	<string>rectifySeamlessCoordExtension</string>
</dict>
</plist>
