<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateDeclarativeMechanismFilter</key>
	<string>getUniformReductionHandler</string>
	<key>appendIndependentAxisInstance</key>
	<string>pauseSignificantTweakList</string>
	<key>getSubstantialTopicReference</key>
	<string>initializeConcurrentBorderList</string>
	<key>initializeDedicatedVisibleHandler</key>
	<string>getSemanticComponentPool</string>
	<key>introspectSemanticValueOwner</key>
	<string>getNormalConsumptionReference</string>
	<key>pauseSemanticTempleObserver</key>
	<string>setIgnoredAssetObserver</string>
	<key>setDeclarativeProjectList</key>
	<string>appendPermanentEquivalentInstance</string>
	<key>storeUnsortedMechanismContainer</key>
	<string>dropoutDenseDeliveryExtension</string>
	<key>transposeResilientRotationDelegate</key>
	<string>restartNewestNameImplement</string>
	<key>writeEnabledPriorityInstance</key>
	<string>resumeGeometricMediaManager</string>
</dict>
</plist>
