<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawSemanticScaleObserver</key>
	<string>keepSmallVisibleExtension</string>
	<key>prepareUnactivatedTempleDecorator</key>
	<string>getDirectlyTextureExtension</string>
	<key>restartCriticalSkewYCollection</key>
	<string>wrapSmallZoneFilter</string>
	<key>setOriginalAssetAdapter</key>
	<string>moveRelationalResultExtension</string>
	<key>setSubstantialGiftTarget</key>
	<string>getDeclarativeMenuPool</string>
	<key>skipLargeTempleGroup</key>
	<string>continueSubsequentValueHandler</string>
	<key>spinRespectiveProfilePool</key>
	<string>getSubstantialSizeManager</string>
</dict>
</plist>
