<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endAdvancedSymbolManager</key>
	<string>getOtherVideoBase</string>
	<key>getAssociatedThreadImplement</key>
	<string>streamlineEasyBufferList</string>
	<key>getElasticStyleProtocol</key>
	<string>finishKeyNumberArray</string>
	<key>getMediocreChartCreator</key>
	<string>insteadLostOriginHelper</string>
	<key>replacePrimaryOriginImplement</key>
	<string>rectifyMissedTempleProtocol</string>
</dict>
</plist>
