<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assettag</key>
	<string>nodeTint</string>
	<key>backwardRadio</key>
	<string>crudeLatency</string>
	<key>defaultMap</key>
	<string>shouldunbindindicator</string>
	<key>onscaletap</key>
	<string>loadDelegate</string>
	<key>pinchableScaffold</key>
	<string>eagerTween</string>
	<key>priorStrength</key>
	<string>usedDispatcher</string>
	<key>shouldBindSpecifier</key>
	<string>shouldConnectDuration</string>
	<key>shouldStreamMember</key>
	<string>displayableTrajectory</string>
	<key>smartInstruction</key>
	<string>enhancetable</string>
	<key>subtleTentative</key>
	<string>clonekernel</string>
</dict>
</plist>
