<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionsystemsaturation</key>
	<string>responseStyle</string>
	<key>gramtext</key>
	<string>mediumAsset</string>
	<key>missedHero</key>
	<string>searchthread</string>
	<key>staticLoop</key>
	<string>rectscale</string>
</dict>
</plist>
