<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureInterval</key>
	<string>saveRole</string>
	<key>backwardGraph</key>
	<string>mediocreBehavior</string>
	<key>consumeutil</key>
	<string>rapidDecoration</string>
	<key>controllerframeworkspacing</key>
	<string>provisionDensity</string>
	<key>crudeStack</key>
	<string>localTimer</string>
	<key>functionalLayout</key>
	<string>animatedconfigurationforce</string>
	<key>heroconsumption</key>
	<string>normalSplitter</string>
	<key>semanticStamp</key>
	<string>fragmentSpacing</string>
	<key>shouldPublishNib</key>
	<string>elasticThreshold</string>
	<key>usagecount</key>
	<string>canDisposeNib</string>
</dict>
</plist>
