<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addasset</key>
	<string>draggableStorage</string>
	<key>bandwidthInset</key>
	<string>displaySprite</string>
	<key>batchInterval</key>
	<string>respectiveKernel</string>
	<key>bufferIndex</key>
	<string>platestatus</string>
	<key>concreteRole</key>
	<string>shouldBindDescriptor</string>
	<key>dedicatedImpact</key>
	<string>scrolloutsidejob</string>
	<key>directlyInjection</key>
	<string>evolutionBehavior</string>
	<key>frameStyle</key>
	<string>finderpressure</string>
	<key>missedView</key>
	<string>rapidConverter</string>
	<key>viewhead</key>
	<string>compositionalCapacity</string>
</dict>
</plist>
