<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>computeGlobalSpriteOwner</key>
	<string>keepAsynchronousStrengthObserver</string>
	<key>convertTensorGraphExtension</key>
	<string>setNormalNumberCreator</string>
	<key>endOriginalVisibleStack</key>
	<string>lockActivatedSceneDecorator</string>
	<key>enhanceUnactivatedNumberReference</key>
	<string>enumerateRequiredRectangleHandler</string>
	<key>finishPriorVariableManager</key>
	<string>continueRelationalMovementList</string>
	<key>getSharedBottomType</key>
	<string>computeKeyActionStack</string>
	<key>restartDeclarativeRightType</key>
	<string>setBasicFlagsTarget</string>
	<key>setOldContrastManager</key>
	<string>trainIgnoredNameBase</string>
	<key>updateLastValueCollection</key>
	<string>enhanceFusedOpacityPool</string>
</dict>
</plist>
