<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getEasyBufferHelper</key>
	<string>getGlobalDescriptionType</string>
	<key>pauseSophisticatedBorderExtension</key>
	<string>prepareSecondBoundArray</string>
	<key>resumeActivatedGraphList</key>
	<string>trainHardBoundInstance</string>
	<key>setFusedSymbolObserver</key>
	<string>getRetainedMediaExtension</string>
	<key>showEnabledResilienceOwner</key>
	<string>getActivatedButtonFactory</string>
	<key>stopDelicateInitiativeCache</key>
	<string>respondActivatedNumberBase</string>
</dict>
</plist>
