<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateAction</key>
	<string>mediaalignment</string>
	<key>lazyCollection</key>
	<string>shouldCacheStep</string>
	<key>significantSearcher</key>
	<string>mountedDropdownButton</string>
	<key>timerdirection</key>
	<string>scaffoldDecorator</string>
	<key>toolBound</key>
	<string>processManager</string>
</dict>
</plist>
