<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerlistener</key>
	<string>materialChooser</string>
	<key>missedChapter</key>
	<string>synchronousGrain</string>
	<key>prismaticGram</key>
	<string>copyRoute</string>
	<key>shouldHandleMomentum</key>
	<string>fusedModule</string>
	<key>shouldValidateTask</key>
	<string>enabledCosine</string>
</dict>
</plist>
