<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileOverlay</key>
	<string>aspectrecursion</string>
	<key>alignmentShade</key>
	<string>gridviewPhase</string>
	<key>aspectratioMargin</key>
	<string>gridviewLocation</string>
	<key>clipperOrientation</key>
	<string>oldContainer</string>
	<key>factorycompositestyle</key>
	<string>shouldUnbindHero</string>
	<key>infoedge</key>
	<string>activepreviewshade</string>
	<key>nextDropdownButton</key>
	<string>unaryLayer</string>
	<key>optimizersearcher</key>
	<string>pushRemainder</string>
	<key>seamlessTangent</key>
	<string>completionState</string>
	<key>standaloneBinary</key>
	<string>stampNumber</string>
</dict>
</plist>
