<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedmaster</key>
	<string>selectedalert</string>
	<key>arithmeticAlert</key>
	<string>boxshadowFunction</string>
	<key>comprehensivewidgetskewy</key>
	<string>deferredProject</string>
	<key>handlerDistance</key>
	<string>independentPet</string>
	<key>managersingletonright</key>
	<string>containervelocity</string>
	<key>shouldNavigateStoryboard</key>
	<string>inflateTabBar</string>
	<key>subtleArithmetic</key>
	<string>canUnmountNotification</string>
</dict>
</plist>
