<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionExpanded</key>
	<string>iterativestatefulmargin</string>
	<key>prevHero</key>
	<string>relationalLoader</string>
	<key>requiredmaterial</key>
	<string>canTrainFuture</string>
	<key>shouldDetachReference</key>
	<string>checkInterface</string>
	<key>strokeOrientation</key>
	<string>canTransitionMaster</string>
	<key>tentativeTheme</key>
	<string>subpixeldespiteshape</string>
</dict>
</plist>
