<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerBuilder</key>
	<string>permissiveRole</string>
	<key>remediationBottom</key>
	<string>stringifyGrid</string>
	<key>unlocknorm</key>
	<string>celloffset</string>
	<key>workflowVisibility</key>
	<string>checklistdespitelevel</string>
</dict>
</plist>
