<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>multiplySmartVariableInstance</key>
	<string>startSemanticTempleContainer</string>
	<key>removeDirectResultReference</key>
	<string>setIntuitiveSkewYCache</string>
	<key>setCrudeChapterOwner</key>
	<string>locateSmartBufferTarget</string>
	<key>setDirectlyVariableImplement</key>
	<string>finishBasicStateManager</string>
	<key>spinEasyMemberTarget</key>
	<string>pauseSingleParamHandler</string>
</dict>
</plist>
