<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawCurrentConfigurationCreator</key>
	<string>setResilientBufferStack</string>
	<key>endSymmetricLoopDelegate</key>
	<string>finishKeyClusterGroup</string>
	<key>getStaticPopupBase</key>
	<string>pausePivotalTimelineProtocol</string>
	<key>prepareFirstVolumeDelegate</key>
	<string>stopLargeTweakExtension</string>
	<key>setImmutableCoordinatorObserver</key>
	<string>pauseIndependentElasticityAdapter</string>
	<key>startSubtleGroupContainer</key>
	<string>clearSymmetricTopAdapter</string>
</dict>
</plist>
