<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prepareMutableCenterFilter</key>
	<string>showPrismaticScalabilityStack</string>
	<key>resetEnabledLayoutFilter</key>
	<string>replaceRespectiveRightTarget</string>
	<key>resumeSymmetricParamAdapter</key>
	<string>setBeginnerFormatManager</string>
	<key>searchReusableTweakReference</key>
	<string>trainUnactivatedTitleCollection</string>
	<key>setLocalTopicTarget</key>
	<string>getLocalGridHelper</string>
	<key>skipNumericalOpacityExtension</key>
	<string>getMultiSkewXGroup</string>
</dict>
</plist>
