<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endFirstConfidentialityHelper</key>
	<string>endGlobalNumberDelegate</string>
	<key>getOtherRendererStack</key>
	<string>resumeDisparateHeadCache</string>
	<key>keepResilientBufferType</key>
	<string>restoreUnactivatedMusicPool</string>
	<key>setEasyEfficiencyPool</key>
	<string>stopHierarchicalImpressionImplement</string>
	<key>setLastMenuArray</key>
	<string>resumeCriticalVarBase</string>
	<key>setStaticMissionAdapter</key>
	<string>appendTensorTextStack</string>
	<key>startSortedHashType</key>
	<string>skipDeclarativeListenerContainer</string>
</dict>
</plist>
