<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawNextGrainBase</key>
	<string>getCommonVariableStack</string>
	<key>getSortedLoopProtocol</key>
	<string>skipSharedTempleAdapter</string>
	<key>skipCriticalTopImplement</key>
	<string>makeCustomizedResultProtocol</string>
</dict>
</plist>
