<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getPivotalLoopStack</key>
	<string>skipSimilarFragmentList</string>
	<key>getPriorPreviewType</key>
	<string>reduceGreatGiftArray</string>
	<key>pauseUsedIndexExtension</key>
	<string>fillNewestVertexExtension</string>
	<key>setHardTailList</key>
	<string>restartArithmeticVarStack</string>
	<key>updateAgileVarBase</key>
	<string>lockRequiredComponentCollection</string>
</dict>
</plist>
