<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudesegment</key>
	<string>ignoredBuffer</string>
	<key>cursorTail</key>
	<string>checkboxduringtype</string>
	<key>formatTag</key>
	<string>canAnimateHero</string>
	<key>impactRate</key>
	<string>saveBatch</string>
	<key>listenerLeft</key>
	<string>dedicatedColor</string>
	<key>metadatamodeskewy</key>
	<string>criticaldurationmode</string>
	<key>positionedatlevel</key>
	<string>activatedCustomPaint</string>
	<key>shouldFinishBatch</key>
	<string>signatureorigin</string>
</dict>
</plist>
