<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityBehavior</key>
	<string>shouldDismissModulus</string>
	<key>activityprocessleft</key>
	<string>replaceBase</string>
	<key>buttonphasestatus</key>
	<string>shouldTransformSign</string>
	<key>exceptionHue</key>
	<string>repositorytension</string>
	<key>replaceslash</key>
	<string>accessoryBound</string>
	<key>stopshader</key>
	<string>factoryStyle</string>
</dict>
</plist>
