<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDirectVisibleType</key>
	<string>removeMediumZoneType</string>
	<key>makeUniqueParamGroup</key>
	<string>conformMainScreenFilter</string>
	<key>setAssociatedTagArray</key>
	<string>quitLostPopupArray</string>
	<key>startUniqueParamHandler</key>
	<string>restartGreatResolverFactory</string>
</dict>
</plist>
