<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compareSortedParameterAdapter</key>
	<string>trainConcreteCharacterHandler</string>
	<key>embedTensorTimeImplement</key>
	<string>animateEasyEventHelper</string>
	<key>getBasicBufferCache</key>
	<string>setCrudeMenuStack</string>
	<key>getMultiTextCache</key>
	<string>stopIndependentOptimizerList</string>
	<key>getOriginalTweakReference</key>
	<string>setSeamlessMovementDecorator</string>
	<key>obtainCrudeButtonProtocol</key>
	<string>animateEasyHeadExtension</string>
	<key>resumeElasticSampleContainer</key>
	<string>trainHardParameterCollection</string>
	<key>setConsultativeTextureObserver</key>
	<string>setLastResultInstance</string>
	<key>setLastQueueList</key>
	<string>finishSubtleIndexFilter</string>
	<key>skipImmutableTextureExtension</key>
	<string>keepHyperbolicColorAdapter</string>
</dict>
</plist>
