<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueOldSampleArray</key>
	<string>clearAssociatedPlaybackPool</string>
	<key>convertEnabledStepReference</key>
	<string>getNumericalHeapHelper</string>
	<key>dissociateSecondSignDelegate</key>
	<string>poolLargeDescriptionExtension</string>
	<key>quantizerPrimaryBatchCollection</key>
	<string>endSynchronousEdgeHandler</string>
	<key>scheduleIterativeTailType</key>
	<string>getProtectedDepthAdapter</string>
	<key>trainIndependentIndexReference</key>
	<string>getRelationalCatalystAdapter</string>
</dict>
</plist>
