<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustArithmeticVarReference</key>
	<string>setSmartSineCollection</string>
	<key>allocateRequiredInterfaceAdapter</key>
	<string>optimizeSynchronousColorStack</string>
	<key>cancelCustomVarGroup</key>
	<string>setRequiredTempleInstance</string>
	<key>createGlobalParameterTarget</key>
	<string>getSemanticResultAdapter</string>
	<key>getSingleTempleHandler</key>
	<string>dropoutHyperbolicResultManager</string>
	<key>prepareNumericalVarObserver</key>
	<string>getBeginnerSpriteInstance</string>
	<key>quitSmartNumberStack</key>
	<string>keepCartesianNumberExtension</string>
	<key>restoreCrudeDistinctionContainer</key>
	<string>pauseLastDistinctionGroup</string>
	<key>setCommonIndexOwner</key>
	<string>setMissedChartManager</string>
</dict>
</plist>
