<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clearSimilarEdgeCollection</key>
	<string>stopCurrentDepthContainer</string>
	<key>endSharedPreviewObserver</key>
	<string>addOriginalTailManager</string>
	<key>equalResilientTopTarget</key>
	<string>aggregateSortedSymbolExtension</string>
	<key>reconcileCrudeTextList</key>
	<string>getLastTailFactory</string>
	<key>restoreHardParameterObserver</key>
	<string>setUsedArchitectureDelegate</string>
	<key>resumeGranularSliderGroup</key>
	<string>setLargeScenarioType</string>
	<key>revisitGlobalDescriptionObserver</key>
	<string>initializeMediocreSkewXBase</string>
	<key>setIntermediateDepthContainer</key>
	<string>setAccordionLayerManager</string>
	<key>setOriginalResolverFilter</key>
	<string>setCustomVideoAdapter</string>
	<key>setPivotalEfficiencyCollection</key>
	<string>retainIndependentIndexList</string>
</dict>
</plist>
