<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concatenateDedicatedHeadCreator</key>
	<string>setSecondTextureGroup</string>
	<key>getAutoVariableList</key>
	<string>continueIterativeVarManager</string>
	<key>pauseComprehensiveIndexFilter</key>
	<string>cancelProtectedActivityBase</string>
	<key>pauseCurrentMapGroup</key>
	<string>getNormalParamTarget</string>
	<key>setConcreteInstructionBase</key>
	<string>setHardResilienceCreator</string>
	<key>startDirectReplicaDecorator</key>
	<string>getPermanentRectangleStack</string>
</dict>
</plist>
