<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getSynchronousVariableStack</key>
	<string>clearBackwardBandwidthDelegate</string>
	<key>pauseSemanticLogarithmContainer</key>
	<string>getCriticalVariableManager</string>
	<key>quantizerEasyEdgeTarget</key>
	<string>getSharedColorDecorator</string>
	<key>searchSubtleLayerCreator</key>
	<string>endCustomizedOriginPool</string>
	<key>skipDenseShapeBase</key>
	<string>executeFirstHashTarget</string>
	<key>skipStandaloneProjectionCollection</key>
	<string>getGeometricHashTarget</string>
</dict>
</plist>
