<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accelerateCriticalSkewYReference</key>
	<string>pauseIndependentNameManager</string>
	<key>embraceSmallTempleContainer</key>
	<string>enumerateGeometricRowDecorator</string>
	<key>endPriorBinaryCollection</key>
	<string>setSubtleScaleContainer</string>
	<key>keepPrevNumberPool</key>
	<string>finishDenseSkinTarget</string>
	<key>regulateDifficultParameterExtension</key>
	<string>setDisplayableHeadList</string>
	<key>setResilientParamList</key>
	<string>setSynchronousSizePool</string>
</dict>
</plist>
