<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxmetadata</key>
	<string>resizeContainer</string>
	<key>curvetween</key>
	<string>resizableMonster</string>
	<key>eagerPet</key>
	<string>activeArithmetic</string>
	<key>equalcard</key>
	<string>interpolationEdge</string>
	<key>multiplicationEdge</key>
	<string>startTangent</string>
	<key>requirednotification</key>
	<string>drawException</string>
	<key>sequentialTicker</key>
	<string>variantintensity</string>
	<key>shouldUnmountNavigation</key>
	<string>directlySingleton</string>
	<key>tabviewtypeposition</key>
	<string>boxFlags</string>
</dict>
</plist>
