<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlytopic</key>
	<string>undertakeTransition</string>
	<key>futureaboutinterpreter</key>
	<string>visibleAwait</string>
	<key>globalSound</key>
	<string>discardedBinary</string>
	<key>listennotifier</key>
	<string>canCacheCosine</string>
	<key>otherUnary</key>
	<string>adaptiveTask</string>
	<key>setuptransition</key>
	<string>stateprocessstate</string>
	<key>shouldParsePrecision</key>
	<string>widgetslider</string>
	<key>uniformEvolution</key>
	<string>sceneVisible</string>
</dict>
</plist>
