<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associateNewestStateDecorator</key>
	<string>setRelationalTagProtocol</string>
	<key>cancelDirectlyParamDecorator</key>
	<string>setSimilarTextPool</string>
	<key>startNumericalParamHelper</key>
	<string>navigateUsedGrainFactory</string>
</dict>
</plist>
