<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getLargeTextType</key>
	<string>pauseArithmeticImpactContainer</string>
	<key>offsetAgileSkewXGroup</key>
	<string>stopSecondParamContainer</string>
	<key>restartAccordionConfidentialityType</key>
	<string>startImmutableParamBase</string>
	<key>resumeHardIndexProtocol</key>
	<string>stopPublicSignatureTarget</string>
</dict>
</plist>
