<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticaltweenstyle</key>
	<string>frameType</string>
	<key>globalIntensity</key>
	<string>asynchronousStore</string>
	<key>granularResult</key>
	<string>mapScope</string>
	<key>pivotalsampleacceleration</key>
	<string>sustainableDistinction</string>
	<key>reducerBorder</key>
	<string>mainPolyfill</string>
	<key>shouldMountedBinary</key>
	<string>boxForm</string>
	<key>shouldPersistGram</key>
	<string>canTrainTransition</string>
</dict>
</plist>
