<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelaspectratio</key>
	<string>locateAlignment</string>
	<key>concurrentCharacter</key>
	<string>protocolOrientation</string>
	<key>protectedgraph</key>
	<string>uniformGraph</string>
</dict>
</plist>
