<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationcontainstructure</key>
	<string>staticBandwidth</string>
	<key>immediateIntensity</key>
	<string>animatorShape</string>
	<key>prevbinaryfrequency</key>
	<string>rowTension</string>
	<key>shouldShowFuture</key>
	<string>shouldEmitMusic</string>
	<key>sortedAlert</key>
	<string>equivalentBorder</string>
	<key>substantialUsage</key>
	<string>shouldAttachMusic</string>
</dict>
</plist>
