<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionChooser</key>
	<string>largeImpact</string>
	<key>autoTimer</key>
	<string>retainedRole</string>
	<key>backwardExponent</key>
	<string>canKeepAccessory</string>
	<key>hierarchicalScenario</key>
	<string>visitTexture</string>
	<key>nativeRouter</key>
	<string>keepCurve</string>
	<key>opaqueGram</key>
	<string>endCompletion</string>
	<key>priorProgressBar</key>
	<string>pinchableSignature</string>
	<key>routeaxis</key>
	<string>normpadding</string>
	<key>shouldDisconnectSession</key>
	<string>flexibleresponse</string>
	<key>shouldRebuildBullet</key>
	<string>reliabilityTag</string>
</dict>
</plist>
