<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveAnimation</key>
	<string>nodeversusvisitor</string>
	<key>customPreview</key>
	<string>gradientRight</string>
	<key>projectLocation</key>
	<string>deployConfiguration</string>
	<key>relationalMargin</key>
	<string>canLoadOperation</string>
	<key>scrollablegrayscale</key>
	<string>concurrenthandler</string>
	<key>shouldNavigateAlpha</key>
	<string>consultativeOptimizer</string>
	<key>shouldSaveStamp</key>
	<string>rebuildAspect</string>
	<key>shouldbuildcheckbox</key>
	<string>triggerMomentum</string>
</dict>
</plist>
