<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionAlignment</key>
	<string>bulletTag</string>
	<key>dynamicRange</key>
	<string>assetaroundnumber</string>
	<key>ismodal</key>
	<string>heroParam</string>
	<key>materialbinarytype</key>
	<string>substantialaspect</string>
	<key>reducerorientation</key>
	<string>freeEntity</string>
	<key>secondFragment</key>
	<string>floatduration</string>
	<key>semanticListener</key>
	<string>swifttriangles</string>
	<key>sustainableTrigger</key>
	<string>delegateStatus</string>
	<key>undertaketext</key>
	<string>webReduction</string>
</dict>
</plist>
