<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerofstructure</key>
	<string>finishbutton</string>
	<key>limitasset</key>
	<string>exitSingleton</string>
	<key>precisionbuffer</key>
	<string>iconStage</string>
	<key>uniformCatalyst</key>
	<string>instructionAppearance</string>
</dict>
</plist>
