<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueFusedStrengthDecorator</key>
	<string>makeSignificantStyleList</string>
	<key>endHierarchicalVarGroup</key>
	<string>compareImmutableLayoutBase</string>
	<key>getCustomizedParameterFilter</key>
	<string>getPivotalQueueCollection</string>
	<key>getSubtleConfigurationOwner</key>
	<string>markElasticCenterManager</string>
	<key>holdDedicatedNodeDelegate</key>
	<string>setSharedGrayscaleExtension</string>
	<key>initializeSmallAssetHandler</key>
	<string>clipLostBufferHelper</string>
	<key>introspectMultiDepthCache</key>
	<string>eraseDenseKernelProtocol</string>
	<key>setConcurrentLoopFilter</key>
	<string>resumeEuclideanEquivalentBase</string>
	<key>streamlineAccessibleInterfacePool</key>
	<string>setDirectParamManager</string>
	<key>visitCurrentInteractionHelper</key>
	<string>getPrimaryIndicatorType</string>
</dict>
</plist>
