<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonspritevalidation</key>
	<string>unaryTemple</string>
	<key>crucialStateful</key>
	<string>canRebuildListView</string>
	<key>deploygroup</key>
	<string>nativeComposition</string>
	<key>seamlessDrawer</key>
	<string>multiplicationCommand</string>
	<key>shouldNavigateKernel</key>
	<string>intermediateBuilder</string>
</dict>
</plist>
