<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredMargin</key>
	<string>buttonShade</string>
	<key>loopsinceform</key>
	<string>shouldRenderOptimizer</string>
	<key>promiselocation</key>
	<string>canSetStateLayout</string>
	<key>respectiveBatch</key>
	<string>alphaInterpreter</string>
	<key>reusableScroll</key>
	<string>seamlessDescent</string>
	<key>shouldPauseMatrix</key>
	<string>tensorPosition</string>
	<key>ternaryflags</key>
	<string>signatureMargin</string>
</dict>
</plist>
