<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedProvision</key>
	<string>cupertinoModulus</string>
	<key>isolateFeedback</key>
	<string>shouldLayoutGrayscale</string>
	<key>streamtransformer</key>
	<string>shouldresumemember</string>
</dict>
</plist>
