<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowmaterial</key>
	<string>currentKernel</string>
	<key>coordinatorBehavior</key>
	<string>orchestrateTask</string>
	<key>decouplegesture</key>
	<string>opaqueDuration</string>
	<key>drawermethodcolor</key>
	<string>formatKind</string>
	<key>flexibleLayer</key>
	<string>lastEntropy</string>
	<key>otherProgressBar</key>
	<string>techniqueType</string>
	<key>parallelSubscriber</key>
	<string>disparateIcon</string>
	<key>progressbarobserverorientation</key>
	<string>lostOverlay</string>
	<key>resilientInfrastructure</key>
	<string>viewTension</string>
	<key>tablemementobehavior</key>
	<string>globalSignature</string>
</dict>
</plist>
