<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoScene</key>
	<string>logtransparency</string>
	<key>backwardVariant</key>
	<string>uniformConstant</string>
	<key>boxshadowlifecycle</key>
	<string>resultdespitecycle</string>
	<key>disparateConnector</key>
	<string>mobiletransparency</string>
	<key>hardEvent</key>
	<string>generateParticle</string>
	<key>itemDuration</key>
	<string>materialChannel</string>
	<key>shouldContinueTool</key>
	<string>streamlineTask</string>
	<key>shouldPopMovement</key>
	<string>modalFrequency</string>
	<key>taskForce</key>
	<string>disparatechecklistshape</string>
</dict>
</plist>
