<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerLocation</key>
	<string>animatedLifecycle</string>
	<key>desktopbloc</key>
	<string>interpolateaction</string>
	<key>diffableAnchor</key>
	<string>animatetheme</string>
	<key>interactiveGradient</key>
	<string>gemState</string>
	<key>symmetricGate</key>
	<string>sophisticatedsingletonorigin</string>
	<key>taskLocation</key>
	<string>statelessextension</string>
</dict>
</plist>
