<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzerTheme</key>
	<string>polyfillFlags</string>
	<key>concurrentMaterial</key>
	<string>executeContainer</string>
	<key>emitchannels</key>
	<string>overrideRequest</string>
	<key>shouldCreateRichText</key>
	<string>opaqueTransition</string>
	<key>shouldYieldRoute</key>
	<string>independentRequest</string>
</dict>
</plist>
