<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticQuaternion</key>
	<string>skipAperture</string>
	<key>bulletTransparency</key>
	<string>keystoryboardfrequency</string>
	<key>flexforce</key>
	<string>mobilePermutation</string>
	<key>hardDialogs</key>
	<string>comprehensiveCompletion</string>
	<key>masterCoord</key>
	<string>richtextsize</string>
	<key>shouldStartCurve</key>
	<string>workflowObserver</string>
	<key>tensorItem</key>
	<string>canDisconnectGram</string>
	<key>useddetector</key>
	<string>buildgroup</string>
</dict>
</plist>
