<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleShader</key>
	<string>matrixBound</string>
	<key>basicManager</key>
	<string>adjustTopic</string>
	<key>callbackAlignment</key>
	<string>lostExpanded</string>
	<key>compositionalRemainder</key>
	<string>shouldCancelPet</string>
	<key>draggableWidget</key>
	<string>searchTexture</string>
	<key>ephemeralBatch</key>
	<string>customModal</string>
	<key>gridviewtension</key>
	<string>permanentProfile</string>
	<key>shouldInflateAnimatedContainer</key>
	<string>concretemodulus</string>
	<key>shouldUpdateTool</key>
	<string>animatedSlash</string>
	<key>tabviewoffset</key>
	<string>sessionSkewY</string>
</dict>
</plist>
