<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedExtension</key>
	<string>prevConstraint</string>
	<key>substantialradiocenter</key>
	<string>decodeResource</string>
	<key>widgetContrast</key>
	<string>quaternionType</string>
</dict>
</plist>
