<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>floatSemanticShaderAdapter</key>
	<string>setCriticalZoneList</string>
	<key>getActivatedStepReference</key>
	<string>resumeSecondMenuHelper</string>
	<key>keepHierarchicalOpacityGroup</key>
	<string>accelerateEasyEvolutionType</string>
	<key>retainSustainableCatalystReference</key>
	<string>keepLargeVisibleProtocol</string>
	<key>setCartesianEffectPool</key>
	<string>setAdvancedInstructionDelegate</string>
	<key>setGranularElementFilter</key>
	<string>keepNextSkewXType</string>
	<key>startPublicSceneManager</key>
	<string>setRelationalSchemaTarget</string>
	<key>trainSemanticRemediationExtension</key>
	<string>keepGeometricPolygonContainer</string>
</dict>
</plist>
