<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>divideLiteSkewXType</key>
	<string>pauseCurrentVarContainer</string>
	<key>getCustomDescentOwner</key>
	<string>storeIndependentFrameHelper</string>
	<key>removeCustomizedEvolutionFactory</key>
	<string>keepMutableParameterStack</string>
	<key>setTensorParameterReference</key>
	<string>setBackwardAspectProtocol</string>
</dict>
</plist>
