<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>calculateCommonBorderOwner</key>
	<string>calculateMultiNumberHandler</string>
	<key>cleanDirectlyVarHandler</key>
	<string>continueBackwardNormOwner</string>
	<key>getAsynchronousParamAdapter</key>
	<string>getMultiIndexAdapter</string>
	<key>mitigateSophisticatedImpactManager</key>
	<string>skipConcurrentDescriptionContainer</string>
	<key>parseAdvancedZoneInstance</key>
	<string>rotateCustomItemContainer</string>
	<key>pauseCommonSizeFactory</key>
	<string>setLastMendList</string>
	<key>skipDirectlyCertificateCache</key>
	<string>getAutoFeatureHandler</string>
	<key>startAgileOriginAdapter</key>
	<string>displayRelationalTailFactory</string>
</dict>
</plist>
