<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aggregateUniformMatrixType</key>
	<string>getSubstantialGridType</string>
	<key>continueSophisticatedPolyfillCache</key>
	<string>getHyperbolicGraphicObserver</string>
	<key>getSubtleControllerObserver</key>
	<string>resumeSubtleFragmentsStack</string>
	<key>replaceConcurrentAssetOwner</key>
	<string>markUniqueDimensionFactory</string>
	<key>startConsultativeHistogramObserver</key>
	<string>getRespectiveResourceExtension</string>
	<key>startRapidImageCache</key>
	<string>pauseRequiredGridPool</string>
</dict>
</plist>
