<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzerLeft</key>
	<string>provisionOpacity</string>
	<key>compositionalSwift</key>
	<string>canTransitionSpine</string>
	<key>functionalExpanded</key>
	<string>parallelGem</string>
	<key>missedExtension</key>
	<string>significantmanagerflags</string>
	<key>parallelRadius</key>
	<string>validatecoordinator</string>
	<key>publisherror</key>
	<string>cupertinoalongstage</string>
	<key>shouldAttachEqualization</key>
	<string>shouldDeserializeStoryboard</string>
	<key>shouldCancelText</key>
	<string>transpileBuffer</string>
</dict>
</plist>
