<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deliverycoord</key>
	<string>resumeStateless</string>
	<key>errortail</key>
	<string>sequentialremediation</string>
	<key>histograminteractor</key>
	<string>customizedCatalyst</string>
	<key>managerOpacity</key>
	<string>canReplaceReduction</string>
	<key>prevManager</key>
	<string>shouldDetachTernary</string>
	<key>robustdata</key>
	<string>certificateObserver</string>
	<key>serializescale</key>
	<string>shouldStartRichText</string>
</dict>
</plist>
