<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueDirectHashDecorator</key>
	<string>startSynchronousGroupOwner</string>
	<key>endAutoValueStack</key>
	<string>getBasicUsageFilter</string>
	<key>getMediumDescriptionDecorator</key>
	<string>pauseSeamlessMomentumAdapter</string>
	<key>getRetainedVarFilter</key>
	<string>resumeSecondDescriptionList</string>
	<key>setSustainableRotationOwner</key>
	<string>stopMultiIndexManager</string>
	<key>stopSemanticSkewXCreator</key>
	<string>touchLocalOccasionArray</string>
</dict>
</plist>
