<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finishSpecifyTailHelper</key>
	<string>startKeyBrushProtocol</string>
	<key>floatCriticalTextTarget</key>
	<string>prepareRapidStyleHandler</string>
	<key>markLargeMovementProtocol</key>
	<string>displaySingleOriginReference</string>
	<key>prepareOpaqueCoordinatorObserver</key>
	<string>visitCrucialRotationContainer</string>
	<key>reduceBeginnerSizeDelegate</key>
	<string>decoupleMutableSkewYReference</string>
	<key>regulateExplicitSpriteManager</key>
	<string>setPermissiveDurationTarget</string>
	<key>setMediocreGrainTarget</key>
	<string>setAccordionFrameDecorator</string>
	<key>setResilientSkewXExtension</key>
	<string>setLiteParameterDelegate</string>
</dict>
</plist>
