<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dissociateNextStyleBase</key>
	<string>continueRobustStyleCreator</string>
	<key>getCommonCompositionAdapter</key>
	<string>setCommonAllocatorPool</string>
	<key>getCriticalDeliveryDecorator</key>
	<string>associateDeclarativeHeadType</string>
	<key>getPermanentBandwidthGroup</key>
	<string>setGlobalBufferFactory</string>
	<key>reduceCommonUtilManager</key>
	<string>skipRetainedEvaluationImplement</string>
	<key>resumeIgnoredVariableAdapter</key>
	<string>endSubtleLatencyCollection</string>
</dict>
</plist>
