<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getImmutableMendArray</key>
	<string>fillSharedInstructionProtocol</string>
	<key>trainImmutableSpotDelegate</key>
	<string>initializeResilientTailManager</string>
	<key>updateCustomizedTagTarget</key>
	<string>retainSingleStrengthDelegate</string>
	<key>upgradeEasyChapterManager</key>
	<string>exitOtherRangeList</string>
</dict>
</plist>
