<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addSubtleAccessoryHelper</key>
	<string>computeAgileBrushContainer</string>
	<key>decoupleDedicatedChapterCreator</key>
	<string>finishSynchronousFragmentsTarget</string>
	<key>endNumericalEdgeReference</key>
	<string>poolAsynchronousFrameAdapter</string>
	<key>getBeginnerTimePool</key>
	<string>scheduleUniqueParamPool</string>
	<key>getResilientVarList</key>
	<string>setDeclarativeBufferPool</string>
	<key>pauseDifficultMaterialCache</key>
	<string>setFusedCoordProtocol</string>
	<key>respondTypicalValueList</key>
	<string>cancelGreatEfficiencyDecorator</string>
</dict>
</plist>
