<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interactionBottom</key>
	<string>backwardBehavior</string>
	<key>publictoolcoord</key>
	<string>autoService</string>
	<key>subtleFuture</key>
	<string>responseActivity</string>
	<key>synchronousMaterial</key>
	<string>observeAwait</string>
</dict>
</plist>
