<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>divideImmutableScreenList</key>
	<string>renameHyperbolicToleranceContainer</string>
	<key>getActivatedHeadBase</key>
	<string>getSophisticatedDescriptorHandler</string>
	<key>getConsultativeBulletExtension</key>
	<string>revisitLostMenuHelper</string>
	<key>getGlobalBorderDelegate</key>
	<string>touchConcurrentValueFilter</string>
	<key>keepEphemeralParamCache</key>
	<string>setCustomizedColorStack</string>
	<key>keepSimilarQueueCollection</key>
	<string>getOpaqueVisibleArray</string>
	<key>playSignificantBorderBase</key>
	<string>setCurrentCubeContainer</string>
	<key>setDiscardedTempleStack</key>
	<string>setElasticParamFilter</string>
	<key>stopSymmetricMonsterHandler</key>
	<string>cancelLastGiftInstance</string>
</dict>
</plist>
