<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheTension</key>
	<string>shouldValidateSizedBox</string>
	<key>currentConverter</key>
	<string>custompaintpolygon</string>
	<key>deferredAsync</key>
	<string>imperativeimage</string>
	<key>iterativeSlider</key>
	<string>decodeoffset</string>
	<key>locateternary</key>
	<string>hashistogram</string>
	<key>sequentialMetadata</key>
	<string>resilienceType</string>
	<key>shouldHandlePromise</key>
	<string>crudeStoryboard</string>
	<key>shouldMountSymbol</key>
	<string>declarativeGrid</string>
	<key>statelessexceptionopacity</key>
	<string>optimizerVelocity</string>
	<key>typicalScene</key>
	<string>alignmentagainstcommand</string>
</dict>
</plist>
