<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonColor</key>
	<string>signatureDecorator</string>
	<key>decorationthroughfacade</key>
	<string>processCompleter</string>
	<key>gestureSkewX</key>
	<string>tensorProject</string>
	<key>instructionShape</key>
	<string>minBase</string>
	<key>lazyShader</key>
	<string>subtleModule</string>
	<key>mediocreFlex</key>
	<string>menuResponse</string>
	<key>prevQueue</key>
	<string>staticVolume</string>
	<key>shouldEmitProject</key>
	<string>canProcessBoxShadow</string>
	<key>unsortedconsumer</key>
	<string>embedAnimation</string>
</dict>
</plist>
