<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardType</key>
	<string>canDisconnectTool</string>
	<key>enabledAlert</key>
	<string>shouldSetStateWidget</string>
	<key>flexnearinterpreter</key>
	<string>pushPlate</string>
	<key>materialSegue</key>
	<string>floatcubit</string>
	<key>oldbuilder</key>
	<string>decodenavigation</string>
	<key>optimizespot</key>
	<string>queueCycle</string>
	<key>permissiveData</key>
	<string>canUnmountSample</string>
	<key>reusableFragment</key>
	<string>geometricTweak</string>
	<key>signaturepermutation</key>
	<string>canPushObserver</string>
</dict>
</plist>
