<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateconnector</key>
	<string>standaloneEfficiency</string>
	<key>granularTheme</key>
	<string>subpixelPressure</string>
	<key>intermediatesignature</key>
	<string>standaloneAwait</string>
	<key>mainswitchmomentum</key>
	<string>cupertinoGridView</string>
	<key>polygonOffset</key>
	<string>searcherState</string>
	<key>popbinary</key>
	<string>statefultween</string>
</dict>
</plist>
