<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hasbox</key>
	<string>visiblecoordinatorspeed</string>
	<key>rebuildoffset</key>
	<string>easyUsage</string>
	<key>responsivedependency</key>
	<string>missedPreview</string>
	<key>widgetactioncount</key>
	<string>sineperobserver</string>
</dict>
</plist>
