<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overlayBorder</key>
	<string>cartesianSubscriber</string>
	<key>radioframeworkpressure</key>
	<string>semanticsStrategy</string>
	<key>shouldCreateTabView</key>
	<string>benchmarkbase</string>
	<key>streamvisitormomentum</key>
	<string>canDetachTabView</string>
	<key>trianglesTop</key>
	<string>copyPosition</string>
</dict>
</plist>
