<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constantmode</key>
	<string>canDispatchProtocol</string>
	<key>enabledUnary</key>
	<string>unactivatedConfidentiality</string>
	<key>immediateHeap</key>
	<string>escalatecurve</string>
	<key>lostMenu</key>
	<string>discoverchapter</string>
	<key>painterContrast</key>
	<string>alignmentInterpreter</string>
</dict>
</plist>
