<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerGradient</key>
	<string>currentsymbol</string>
	<key>keyFeature</key>
	<string>wrapperCenter</string>
	<key>musicstagefrequency</key>
	<string>computeLabel</string>
	<key>shouldsetstatedrawer</key>
	<string>configurationDistance</string>
	<key>shouldunmountreduction</key>
	<string>mainSubscriber</string>
	<key>sineMargin</key>
	<string>uniqueSorter</string>
	<key>synchronousRestriction</key>
	<string>activeInteractor</string>
	<key>tableStatus</key>
	<string>loadIcon</string>
</dict>
</plist>
