<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncStatus</key>
	<string>crudeObject</string>
	<key>currentCache</key>
	<string>liteResolver</string>
	<key>observercenter</key>
	<string>showentropy</string>
	<key>typicalCosine</key>
	<string>backwardLayout</string>
	<key>uniqueProfile</key>
	<string>displayableCompletion</string>
</dict>
</plist>
