<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensitypressure</key>
	<string>unregisterLocalization</string>
	<key>intuitiveCreator</key>
	<string>continueExtension</string>
	<key>lostTitle</key>
	<string>shouldPublishSine</string>
	<key>metricsVisibility</key>
	<string>scalebytemple</string>
	<key>primaryProgressBar</key>
	<string>canUnmountedScaffold</string>
	<key>publicgridskewy</key>
	<string>oldPopup</string>
	<key>shouldDisposeController</key>
	<string>listviewInset</string>
</dict>
</plist>
