<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticparticle</key>
	<string>fetchPrecision</string>
	<key>cellTransparency</key>
	<string>concurrentWidget</string>
	<key>drawerlayertop</key>
	<string>symmetricIntegration</string>
	<key>masterRate</key>
	<string>defaultIndicator</string>
</dict>
</plist>
