<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curverotation</key>
	<string>unscheduleTopic</string>
	<key>greatModal</key>
	<string>unmountedDocument</string>
	<key>shouldCancelFlex</key>
	<string>enumerateRect</string>
	<key>shouldDismissEffect</key>
	<string>unaryState</string>
</dict>
</plist>
