<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalMetrics</key>
	<string>pickerStyle</string>
	<key>isolateintegration</key>
	<string>completedDelegate</string>
	<key>keyremediation</key>
	<string>deploystamp</string>
	<key>methodIndex</key>
	<string>observeContraction</string>
	<key>navigatorbyproxy</key>
	<string>immediateCubit</string>
	<key>prismaticDocument</key>
	<string>notifierHead</string>
</dict>
</plist>
