<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableLatency</key>
	<string>sizeresponse</string>
	<key>imperativeStatus</key>
	<string>shouldPublishLog</string>
	<key>lossstyle</key>
	<string>sceneDistance</string>
	<key>significantnavigator</key>
	<string>shouldDisposeCube</string>
	<key>statelessmethodtype</key>
	<string>shouldYieldCell</string>
	<key>webNib</key>
	<string>cosineTag</string>
</dict>
</plist>
