<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableResilience</key>
	<string>toolSpeed</string>
	<key>hierarchicalAnalyzer</key>
	<string>agileConfidentiality</string>
	<key>hierarchicalcubitcolor</key>
	<string>greatTicker</string>
	<key>isBaseline</key>
	<string>singletontaskstyle</string>
	<key>largeMend</key>
	<string>backwardstoryboard</string>
	<key>otherBehavior</key>
	<string>rectifyException</string>
	<key>pausegrid</key>
	<string>subpixelconfidentiality</string>
	<key>shaderscopeinset</key>
	<string>composablerouterpressure</string>
	<key>shouldrouteprotocol</key>
	<string>shouldpaintcharacter</string>
	<key>subtleSpine</key>
	<string>transformmaterial</string>
</dict>
</plist>
