<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getRespectiveLoopOwner</key>
	<string>syncCrucialAllocatorHelper</string>
	<key>setPublicFrameHandler</key>
	<string>getUniqueIndexPool</string>
	<key>trainPrimaryZoneList</key>
	<string>setSeamlessTempleType</string>
	<key>unlockSignificantTitleExtension</key>
	<string>touchCrudeChartManager</string>
</dict>
</plist>
