<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelHierarchicalGridOwner</key>
	<string>getBeginnerMetricsManager</string>
	<key>getUsedGroupTarget</key>
	<string>keepEphemeralUtilFactory</string>
	<key>movePrimaryColorObserver</key>
	<string>convertSemanticVarContainer</string>
	<key>pauseStaticBorderCache</key>
	<string>poolUnsortedStyleOwner</string>
	<key>searchPrismaticCoordExtension</key>
	<string>encapsulateDenseSegmentDelegate</string>
	<key>setLargePrecisionCache</key>
	<string>resumeConcreteRowCreator</string>
	<key>setSimilarChallengeCreator</key>
	<string>getResilientComponentReference</string>
	<key>skipStaticMetadataPool</key>
	<string>getUniformOpacityBase</string>
	<key>trainRetainedRoleManager</key>
	<string>getHardCoordPool</string>
</dict>
</plist>
