<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prepareCommonHeadCache</key>
	<string>finishPrismaticMenuTarget</string>
	<key>refreshLostConfidentialityCreator</key>
	<string>setAgileFormatFilter</string>
	<key>unlockAssociatedTextBase</key>
	<string>setCurrentBatchPool</string>
</dict>
</plist>
