<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>offsetFirstNameTarget</key>
	<string>discoverActivatedContractionCreator</string>
	<key>poolSmartGramStack</key>
	<string>updateSymmetricCoordTarget</string>
	<key>prepareSortedRotationArray</key>
	<string>getDiversifiedBatchCreator</string>
	<key>rectifyAccessibleIndexDelegate</key>
	<string>restartLostInitiativeBase</string>
	<key>setGeometricResultType</key>
	<string>obtainLiteVarReference</string>
	<key>setMissedRotationType</key>
	<string>startSortedPreviewManager</string>
</dict>
</plist>
