<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueSignificantScaleContainer</key>
	<string>setUnsortedVariableCollection</string>
	<key>continueStandaloneSoundFilter</key>
	<string>resumeDiversifiedOriginOwner</string>
	<key>getComprehensiveSpriteGroup</key>
	<string>trainEasyVectorObserver</string>
	<key>holdBasicVariableExtension</key>
	<string>initializeDeclarativeLoopType</string>
	<key>keepAccessibleBufferCollection</key>
	<string>endLargeIntensityTarget</string>
	<key>resizeCartesianPaddingContainer</key>
	<string>generatePivotalAnimationContainer</string>
	<key>setIntermediateOriginProtocol</key>
	<string>shearBasicSpineManager</string>
	<key>stopMutableIndicatorGroup</key>
	<string>setConcurrentDescentHelper</string>
	<key>streamlineDenseLeftExtension</key>
	<string>cleanMutableBoundCache</string>
</dict>
</plist>
