<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appendKeyLayoutTarget</key>
	<string>finishPrevMeshProtocol</string>
	<key>continueEnabledOperationStack</key>
	<string>endUniformTangentManager</string>
	<key>findIntermediateParameterArray</key>
	<string>reduceUnactivatedLogHandler</string>
	<key>getSubstantialConfigurationPool</key>
	<string>trainNewestPositionPool</string>
	<key>setAccessibleStepHandler</key>
	<string>getCartesianOptionImplement</string>
	<key>setOldMenuFilter</key>
	<string>getFirstDepthBase</string>
	<key>startResilientDescentBase</key>
	<string>reconcilePublicDescriptorAdapter</string>
</dict>
</plist>
