<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>continueSynchronousLeftObserver</key>
	<string>startDisplayableParameterArray</string>
	<key>encapsulateOriginalThroughputHelper</key>
	<string>getMainTopicType</string>
	<key>lockKeyTaskManager</key>
	<string>limitGlobalFlagsDecorator</string>
	<key>setPrismaticPrecisionHelper</key>
	<string>getCustomCubeOwner</string>
	<key>trainLastCursorImplement</key>
	<string>pauseBeginnerStepExtension</string>
</dict>
</plist>
