<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getCrudeIntensityInstance</key>
	<string>keepEasyConsumptionBase</string>
	<key>getUniqueGraphTarget</key>
	<string>pausePermanentRotationList</string>
	<key>markAccordionNodeTarget</key>
	<string>getPrismaticParameterCollection</string>
	<key>setImmutableBufferPool</key>
	<string>keepGeometricCoordinatorCollection</string>
	<key>skipConcreteChapterInstance</key>
	<string>initializePriorVarArray</string>
</dict>
</plist>
