<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicRadio</key>
	<string>spineProcess</string>
	<key>completerIndex</key>
	<string>consumerDistance</string>
	<key>declarativeSine</key>
	<string>pendingLog</string>
	<key>gesturedetectorBrightness</key>
	<string>cancelCupertino</string>
	<key>intensityaspect</key>
	<string>symmetricController</string>
	<key>lazybuffer</key>
	<string>nextScale</string>
	<key>persistentTask</key>
	<string>musicInterpreter</string>
	<key>sensorTransparency</key>
	<string>prevRect</string>
</dict>
</plist>
