<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeSpine</key>
	<string>mainSize</string>
	<key>delicatebloclocation</key>
	<string>sequentialSlash</string>
	<key>drawerOrientation</key>
	<string>retainedMetadata</string>
	<key>giftobserverformat</key>
	<string>canAttachDelegate</string>
	<key>mediafromproxy</key>
	<string>themeDepth</string>
	<key>oldisolate</key>
	<string>zoneprocessbrightness</string>
	<key>spineSize</key>
	<string>contrastCount</string>
</dict>
</plist>
