<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSize</key>
	<string>margintimer</string>
	<key>basebrightness</key>
	<string>euclideanBorder</string>
	<key>declarativeDescent</key>
	<string>globalEmitter</string>
	<key>disabledGrain</key>
	<string>interactionOffset</string>
	<key>explicitModule</key>
	<string>immutableFragments</string>
	<key>imperativePlate</key>
	<string>analyzerOpacity</string>
	<key>searcherCoord</key>
	<string>directlyArithmetic</string>
	<key>shouldAttachNavigation</key>
	<string>offsetCenter</string>
	<key>shouldsubscribepainter</key>
	<string>canvasintegration</string>
	<key>subtleQuaternion</key>
	<string>combineEntity</string>
</dict>
</plist>
