<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicGraph</key>
	<string>shouldFetchBorder</string>
	<key>managerHead</key>
	<string>reusableTouch</string>
	<key>mobileChooser</key>
	<string>popupAppearance</string>
	<key>newestUnary</key>
	<string>mitigateRequest</string>
	<key>remediationStatus</key>
	<string>cleanPresenter</string>
	<key>selectedTool</key>
	<string>stepStatus</string>
	<key>sustainableCaption</key>
	<string>showChallenge</string>
	<key>symmetricSizedBox</key>
	<string>mediaalongcycle</string>
	<key>tentativeEdge</key>
	<string>futureTail</string>
	<key>transformlistview</key>
	<string>delicateAccessory</string>
</dict>
</plist>
