<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentTernary</key>
	<string>discardedAnalyzer</string>
	<key>disparateGram</key>
	<string>detachScaffold</string>
	<key>draggabledialogscolor</key>
	<string>nibTier</string>
	<key>formatpriority</key>
	<string>semanticChannels</string>
	<key>handlebatch</key>
	<string>animatedCallback</string>
</dict>
</plist>
