<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerawayvalue</key>
	<string>cyclecyclehead</string>
	<key>sharedResult</key>
	<string>mendContrast</string>
	<key>widgetdescent</key>
	<string>introspectEntity</string>
</dict>
</plist>
