<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintnearbuffer</key>
	<string>responsiveTriangles</string>
	<key>deliveryhead</key>
	<string>fixedAperture</string>
	<key>temporaryDescriptor</key>
	<string>optimizeparticle</string>
</dict>
</plist>
