<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMatrix</key>
	<string>canLoadSpecifier</string>
	<key>descriptiontriangles</key>
	<string>inactivewidget</string>
	<key>disabledObserver</key>
	<string>vectorizeDecoration</string>
	<key>durationorientation</key>
	<string>imperativePlate</string>
	<key>handlerShade</key>
	<string>firstcompleter</string>
	<key>lazyException</key>
	<string>protocolPlatform</string>
	<key>respectiveNotifier</key>
	<string>criticalGraph</string>
	<key>shouldTrainSession</key>
	<string>replaceRepository</string>
</dict>
</plist>
