<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocateIndependentBufferObserver</key>
	<string>destroySustainableAspectImplement</string>
	<key>allocateMediocreEquivalentTarget</key>
	<string>quantizerOriginalDepthOwner</string>
	<key>appendDifficultGrainReference</key>
	<string>prepareNormalScaleContainer</string>
	<key>compareDelicateBitrateTarget</key>
	<string>pauseDisplayableVarDelegate</string>
	<key>concatenateLiteDepthList</key>
	<string>embraceHyperbolicMenuPool</string>
	<key>mitigateDirectTrianglesPool</key>
	<string>trainBackwardTopType</string>
	<key>multiplySeamlessGiftType</key>
	<string>setCriticalNumberHandler</string>
	<key>navigateCommonResolverBase</key>
	<string>embraceAgileParamTarget</string>
	<key>removeConcurrentCoordTarget</key>
	<string>createSemanticBorderCollection</string>
</dict>
</plist>
