<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analogyOrigin</key>
	<string>scenarioPosition</string>
	<key>concatenatebatch</key>
	<string>animateStore</string>
	<key>draggableSymbol</key>
	<string>offsetTask</string>
	<key>frametemplecolor</key>
	<string>capturebuilder</string>
	<key>lostrouter</key>
	<string>positionedBridge</string>
	<key>managerFlags</key>
	<string>concurrentAxis</string>
	<key>replicaMomentum</key>
	<string>concurrentView</string>
	<key>sophisticatedGrid</key>
	<string>granularHistogram</string>
</dict>
</plist>
