<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticStrength</key>
	<string>opaquelistener</string>
	<key>finishstate</key>
	<string>statelessReducer</string>
	<key>multiDescriptor</key>
	<string>delicateBorder</string>
	<key>substantialModal</key>
	<string>shouldPausePainter</string>
	<key>texturetexture</key>
	<string>publicRenderer</string>
</dict>
</plist>
