<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedKind</key>
	<string>deferredSubscriber</string>
	<key>hardconstraintvisible</key>
	<string>borderWork</string>
	<key>imperativeModulus</key>
	<string>canHandleAlert</string>
	<key>managerDuration</key>
	<string>stopGestureDetector</string>
	<key>reducerbottom</key>
	<string>switchBuffer</string>
	<key>shouldSkipClipper</key>
	<string>fusedEffect</string>
	<key>specifyParticle</key>
	<string>mediumCursor</string>
</dict>
</plist>
