<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeProvision</key>
	<string>secondScaffold</string>
	<key>dynamiccallbackposition</key>
	<string>bulletTemple</string>
	<key>entityvertex</key>
	<string>multiplySprite</string>
	<key>temporaryFilter</key>
	<string>canDispatchWorkflow</string>
</dict>
</plist>
