<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedreducer</key>
	<string>segueprovider</string>
	<key>borderdelegate</key>
	<string>tappableConstraint</string>
	<key>easyInteger</key>
	<string>pointContrast</string>
	<key>elasticoptiontint</key>
	<string>reducerHue</string>
	<key>elementTheme</key>
	<string>presentermomentum</string>
	<key>ephemeralPresenter</key>
	<string>functionalCompletion</string>
	<key>shouldStartEffect</key>
	<string>nodeWork</string>
	<key>similarSegment</key>
	<string>endInstruction</string>
	<key>sophisticatedpresentermargin</key>
	<string>onconvolutiontap</string>
	<key>visibleFeature</key>
	<string>drawButton</string>
</dict>
</plist>
