<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionDuration</key>
	<string>parallelReducer</string>
	<key>compositionalCanvas</key>
	<string>canUnmountMomentum</string>
	<key>directCapsule</key>
	<string>decodePopup</string>
	<key>keyCursor</key>
	<string>bindGestureDetector</string>
	<key>stackStyle</key>
	<string>canPublishLabel</string>
</dict>
</plist>
