<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gestureFrequency</key>
	<string>inheritedEquipment</string>
	<key>newestException</key>
	<string>standaloneTrigger</string>
	<key>prismatictitle</key>
	<string>axisMemento</string>
	<key>sortedNavigator</key>
	<string>behavioroperationbehavior</string>
</dict>
</plist>
