<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>In app purchase</key>
	<string>rqm47t</string>
	<key>Install</key>
	<string>8qn26h</string>
	<key>RegisterSuccess</key>
	<string>aysi4p</string>
	<key>clickStarProjectpop-upsFindoutmore</key>
	<string>v7s4ly</string>
	<key>clickStarProjectpop-upsCancel</key>
	<string>idg9ab</string>
</dict>
</plist>
