<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animateMainUtilBase</key>
	<string>embraceBasicDetailList</string>
	<key>endConcreteStrengthDelegate</key>
	<string>setNumericalTempleCreator</string>
	<key>endCurrentBoundOwner</key>
	<string>releaseUniformTaskDecorator</string>
	<key>finishHyperbolicEffectObserver</key>
	<string>generateCustomParamObserver</string>
	<key>getActivatedCacheTarget</key>
	<string>finishGlobalCharacterHelper</string>
	<key>keepMultiParamGroup</key>
	<string>getOriginalLeftObserver</string>
	<key>setAdvancedProgressBarTarget</key>
	<string>endMediocreThroughputCreator</string>
	<key>skipLastVariantArray</key>
	<string>finishIntuitiveIndicatorFilter</string>
	<key>startTypicalIndicatorHelper</key>
	<string>getRequiredSkewYArray</string>
</dict>
</plist>
