<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificatelikeenvironment</key>
	<string>updateTechnique</string>
	<key>elastictopicfeedback</key>
	<string>disclaimerTop</string>
	<key>isBloc</key>
	<string>pushdecoration</string>
	<key>navigateaspect</key>
	<string>relationalDropdownButton</string>
	<key>removetransition</key>
	<string>primaryGem</string>
	<key>shouldInflatePriority</key>
	<string>shouldListenGift</string>
	<key>shouldlayoutborder</key>
	<string>seekMetadata</string>
	<key>switchIndex</key>
	<string>subtleObject</string>
</dict>
</plist>
