<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amortizationBottom</key>
	<string>metadataformat</string>
	<key>backwardCache</key>
	<string>dedicatedfeatureposition</string>
	<key>beginnerAsset</key>
	<string>sizedboxstructurecontrast</string>
	<key>independentMerger</key>
	<string>executeSubscription</string>
	<key>informationOffset</key>
	<string>statefulService</string>
	<key>providertexture</key>
	<string>emitreference</string>
	<key>typicalDependency</key>
	<string>shouldShowAppBar</string>
	<key>unsortedChecklist</key>
	<string>publishPageView</string>
</dict>
</plist>
