<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitstructureshape</key>
	<string>cosineScale</string>
	<key>compositionsubscription</key>
	<string>semanticCluster</string>
	<key>interactionMode</key>
	<string>mutableCreator</string>
	<key>mapColor</key>
	<string>subsequentText</string>
	<key>mobileGraphic</key>
	<string>projectPadding</string>
	<key>shouldPersistTangent</key>
	<string>transitionSpacing</string>
</dict>
</plist>
