<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composablePicker</key>
	<string>unsortedMap</string>
	<key>denseoption</key>
	<string>listenerLayer</string>
	<key>directlytextfieldinteraction</key>
	<string>receiveredge</string>
	<key>disparateImpression</key>
	<string>lostFragments</string>
	<key>explicitTransition</key>
	<string>resilientSplitter</string>
	<key>fragmentincludeobserver</key>
	<string>responsiveBinary</string>
	<key>initializeasset</key>
	<string>canYieldReference</string>
	<key>nextBitrate</key>
	<string>routeCosine</string>
	<key>opaqueScroll</key>
	<string>checklistMomentum</string>
	<key>visiblenavigatorinset</key>
	<string>cellForm</string>
</dict>
</plist>
