<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificatetint</key>
	<string>checkboxdispatcher</string>
	<key>desktopCubit</key>
	<string>easyGem</string>
	<key>displayrepository</key>
	<string>measureEntity</string>
	<key>lastTopic</key>
	<string>canStartStream</string>
	<key>presentmaterial</key>
	<string>relationalpager</string>
	<key>queuefacadelocation</key>
	<string>pushgram</string>
	<key>shouldResumeBitrate</key>
	<string>canSaveSegment</string>
</dict>
</plist>
