<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyLoader</key>
	<string>fixedAction</string>
	<key>ephemeralrepository</key>
	<string>opaqueCoordinator</string>
	<key>mediocreCubit</key>
	<string>checkTransformer</string>
</dict>
</plist>
