<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bindsymbol</key>
	<string>buildCapsule</string>
	<key>desktopBrush</key>
	<string>opaqueStoryboard</string>
	<key>ephemeralSlider</key>
	<string>requiredSegue</string>
	<key>rebuildheap</key>
	<string>captionBehavior</string>
	<key>unsortedCollection</key>
	<string>sequentialCallback</string>
</dict>
</plist>
