<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dissociategroup</key>
	<string>frameCount</string>
	<key>independenttask</key>
	<string>sanitizePosition</string>
	<key>interactiveActivity</key>
	<string>primaryFragments</string>
	<key>intermediateCapacity</key>
	<string>associateCompleter</string>
	<key>isSpine</key>
	<string>unsortedRow</string>
	<key>metadataviabridge</key>
	<string>appendTransition</string>
	<key>observerBehavior</key>
	<string>saveText</string>
	<key>sophisticatedSound</key>
	<string>secondrow</string>
	<key>stopimage</key>
	<string>inflateDialogs</string>
</dict>
</plist>
