<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedTouch</key>
	<string>canHandleTernary</string>
	<key>animatedStore</key>
	<string>paddingPlatform</string>
	<key>crudeMobile</key>
	<string>objectDepth</string>
	<key>featurereplica</key>
	<string>pickerIndex</string>
	<key>greatAspect</key>
	<string>menuVar</string>
	<key>shouldSerializeWidget</key>
	<string>adaptiveEntropy</string>
	<key>storagestroke</key>
	<string>normalmastercolor</string>
	<key>toleranceType</key>
	<string>ternaryinterpreterrotation</string>
</dict>
</plist>
