<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableTable</key>
	<string>defaultobserver</string>
	<key>dataForce</key>
	<string>marshalLabel</string>
	<key>firstPositioned</key>
	<string>serializeArithmetic</string>
	<key>groupMode</key>
	<string>stepappearance</string>
	<key>oldRadio</key>
	<string>interactorFormat</string>
	<key>shouldAttachSemantics</key>
	<string>smartManager</string>
	<key>shouldnavigateinterpolation</key>
	<string>customAction</string>
	<key>smallProcessor</key>
	<string>streamOperation</string>
	<key>smallStateless</key>
	<string>consultativeResult</string>
	<key>unschedulefeature</key>
	<string>directlyScreen</string>
</dict>
</plist>
