<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardBoxShadow</key>
	<string>denseMission</string>
	<key>continueanimation</key>
	<string>gesturedetectorFlyweight</string>
	<key>liteFuture</key>
	<string>throughputVelocity</string>
	<key>numericalError</key>
	<string>declarativeConsumer</string>
	<key>sustainablehash</key>
	<string>shouldFinishChallenge</string>
</dict>
</plist>
