<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endBasicLayoutCache</key>
	<string>getGlobalVisibleImplement</string>
	<key>getFusedChapterCache</key>
	<string>stopOriginalRemediationBase</string>
	<key>initializeUnactivatedAssetHelper</key>
	<string>stopStaticLabelCollection</string>
	<key>searchSubtleMenuBase</key>
	<string>resumeCustomizedVarContainer</string>
	<key>streamlineSubtleTempleManager</key>
	<string>captureMissedGroupGroup</string>
</dict>
</plist>
