<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getCommonOriginFactory</key>
	<string>getMainMonsterOwner</string>
	<key>getGeometricSignStack</key>
	<string>pauseRetainedRectanglePool</string>
	<key>getNextResultReference</key>
	<string>prepareSemanticFrameProtocol</string>
	<key>initializePrismaticRotationAdapter</key>
	<string>searchPrimaryMemberDelegate</string>
	<key>wrapElasticNodeInstance</key>
	<string>getAsynchronousPermutationCache</string>
</dict>
</plist>
