<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destroyDirectMissionStack</key>
	<string>getOldColorDelegate</string>
	<key>equalRobustVarCache</key>
	<string>dissociateSubtleUtilExtension</string>
	<key>initializeRetainedRemediationGroup</key>
	<string>startBasicScenarioBase</string>
	<key>moveHardNumberType</key>
	<string>getIndependentStyleTarget</string>
	<key>setLocalMatrixFactory</key>
	<string>keepGlobalChartPool</string>
	<key>setSynchronousIndexAdapter</key>
	<string>playAssociatedSkewYCache</string>
	<key>trainOtherPreviewFilter</key>
	<string>movePublicCoordAdapter</string>
</dict>
</plist>
