<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endBasicParameterCache</key>
	<string>getSemanticAscentOwner</string>
	<key>setAdvancedRightType</key>
	<string>setLargeBulletList</string>
	<key>setConsultativeLeftFilter</key>
	<string>getUnactivatedParameterDecorator</string>
	<key>setPriorGrainPool</key>
	<string>stopLastVarImplement</string>
	<key>setUsedCapacitiesInstance</key>
	<string>cancelSecondTextType</string>
</dict>
</plist>
