<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultReference</key>
	<string>previewTier</string>
	<key>hyperbolicmenucoord</key>
	<string>prepareNavigator</string>
	<key>imagetail</key>
	<string>pivotalHero</string>
	<key>immediateSound</key>
	<string>validateCache</string>
	<key>rectfacadetype</key>
	<string>polyfillPadding</string>
	<key>repositoryvisible</key>
	<string>renderkernel</string>
	<key>resizableEvaluation</key>
	<string>serviceChain</string>
	<key>specifyData</key>
	<string>tappableModule</string>
	<key>tickerMomentum</key>
	<string>interpolateRoute</string>
	<key>unactivatedAnalyzer</key>
	<string>singletonKind</string>
</dict>
</plist>
