<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getDiversifiedBufferManager</key>
	<string>finishComprehensiveValueFactory</string>
	<key>getFirstRestrictionCreator</key>
	<string>makePrismaticParamAdapter</string>
	<key>setEnabledWorkflowPool</key>
	<string>seekAsynchronousTempleTarget</string>
</dict>
</plist>
