<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cancelActivatedScenarioType</key>
	<string>embedAccordionStrokeCache</string>
	<key>finishDeclarativeObserverDecorator</key>
	<string>getCustomizedPositionInstance</string>
	<key>freeIntuitiveTagTarget</key>
	<string>getRequiredVariableTarget</string>
	<key>getMediumConsumptionHelper</key>
	<string>resumeExplicitSampleGroup</string>
	<key>keepDisplayableVarInstance</key>
	<string>setNormalSkewXDecorator</string>
	<key>lockUnsortedInitiativeGroup</key>
	<string>setCriticalCatalystStack</string>
	<key>prepareMediocreTopTarget</key>
	<string>spinRequiredDescriptionContainer</string>
	<key>setEuclideanChecklistHandler</key>
	<string>continueHierarchicalTailType</string>
	<key>storeAsynchronousLeftFactory</key>
	<string>getNextTailBase</string>
</dict>
</plist>
