<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getPivotalSpecifierManager</key>
	<string>unscheduleMutableHeadHelper</string>
	<key>getUnactivatedDescriptionHelper</key>
	<string>getSynchronousSineList</string>
	<key>refreshRequiredCubeHandler</key>
	<string>encapsulateArithmeticStyleContainer</string>
	<key>resumeSimilarBandwidthOwner</key>
	<string>getIterativeValueHelper</string>
	<key>setSmallBottomGroup</key>
	<string>rectifyRapidAscentTarget</string>
	<key>skipSharedCoordHandler</key>
	<string>setOriginalVectorArray</string>
	<key>stopCrudeBufferList</key>
	<string>aggregateMediumDescriptionManager</string>
</dict>
</plist>
